<app-header></app-header>
<br />
<br />
<div class="bx--grid">
  <div class="bx--row line-padding">
    <div class="bx--col-md-1" style="padding-left: 8%; cursor: pointer;">
      <svg icon ibmIconArrowLeft16 (click)="navigateBack()"></svg>
    </div>
    <div class="bx--col-md-4">
      <ibm-breadcrumb [noTrailingSlash]="noTrailingSlash">
        <ibm-breadcrumb-item (click)="browse()" class="navigation" style="cursor: pointer; color: blue;">
          Browse
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item (click)="challengeTitle(challengeDetails?._id)" class="navigation"
          style="cursor: pointer; color: blue;">
          {{challengeDetails?.title}}
        </ibm-breadcrumb-item>
      </ibm-breadcrumb>
    </div>
  </div>
  <br />
  <br />
  <div class="bx--row line-padding">
    <div class="bx--col-md-1" style="padding-left: 8%;"></div>
    <div class="bx--col-md-6">
      <p style="font-size: 40px; font-weight: 100;">Performance breakdown</p>
      <br />
      <br />
      <div class="border-div">
        &nbsp;&nbsp;
        <h5 style="margin-left: 8px;">Congratuations!</h5>
        &nbsp;&nbsp;
        <p style="margin-left: 8px;">
          Your model has met the minimum performance score
        </p>
        <br />
        &nbsp;
        <button [ibmButton]="ibmButton" [size]="size" (click)="viewModel()">
          View model overview
          <svg class="bx--btn__icon" ibmIconArrowRight20 size="20"></svg>
        </button>
        <br />
        <br />
        &nbsp;
        <button [ibmButton]="ibmButton" [size]="size" style="width: 215px;">
          Enter phase 2
          <svg class="bx--btn__icon" ibmIconArrowRight20 size="20"></svg>
        </button>
      </div>
      <br />
      <br />

      <div class="bx--form-item">
        <div class="bx--dropdown__wrapper" style="width:222px">
          <div class="bx--form__helper-text">Filter</div>
          <ibm-dropdown [label]="Min" [helperText]="helperText" [size]="size" [invalid]="invalid"
            [invalidText]="invalidText" [theme]="theme" placeholder="Phase 1 " [disabled]="disabled"
            (selected)="selected($event)">
            <ibm-dropdown-list>2</ibm-dropdown-list>
          </ibm-dropdown>
        </div>
      </div>

      <div class="bx--row line-padding">
        <div class="bx--col-md-1" style="padding-left: 2%; white-space: nowrap;">
          <br />
          <p class="para">Download Trained Model
            <svg icon ibmIconDownload16 (click)="downloadFile(modelDetails?.modelUploadedPath)"></svg>
          </p>
        </div>
      </div>
      <br />
      <br />

      <div style="display: flex; gap: 10px;">
        <ibm-tile style="flex-grow: 1;">
          <ibm-donut-chart [data]="accuracyScoreData" [options]="accuracyOptions"
            style="background-color: #f4f4f4 !important;align-items: center;"></ibm-donut-chart>
        </ibm-tile>
        <ibm-tile style="flex-grow: 1;">
          <ibm-donut-chart [data]="precisionScoreData" [options]="precisionOptions"
            style="background-color: #f4f4f4 !important;"></ibm-donut-chart>
        </ibm-tile>
        <ibm-tile style="flex-grow: 1;">
          <ibm-donut-chart [data]="recallScoreData" [options]="recallOptions"
            style="background-color: #f4f4f4 !important;"></ibm-donut-chart>
        </ibm-tile>
      </div>
      <br />
      <ibm-line-chart [data]="data1" [options]="options1" style="background-color: #f4f4f4 !important;"
        class="chartline"></ibm-line-chart>
    </div>
  </div>
</div>