@import "@carbon/charts/styles.css";
.border-div{
    border-left: 5px solid #4162FD;
}
.view{
  margin: auto;
  display: flex;
  height: 34px;
  background-color: #383838;
 margin-right: 0px;
white-space: nowrap;
  margin-top:20px !important;
 }
.model{
  margin: auto;
  display: flex;
  height: 34px; 
  margin-right: 100px;
 margin-right: -31px;
  margin-top:20px !important;
}

// .fill-2-1-2:nth-child(2) {
//   display: none;
// }
// .fill-2-1-2:nth-child(3) {
//   display: none;
// }
// .fill-2-1-2:nth-child(1) {
//   display: none;
// }
// .fill-2-1-2:nth-child(2):hover{
//   display: none;
// }

// .legend-items {
//   display: none !important;
// }

.downlogoPointer {
  cursor: pointer;
}

.pie-label{
  display: none;
}

.bx--dropdown{
  width: 223px !important;
 
}

.para{
  font-size: 14px;
}