<div ibmGrid [condensed]="gridCondensed">
    <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
        <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
            <h3>Challange Overview</h3>

            <br />
            <ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
                Challange Title
                <textarea style="width: 90%" ibmTextArea [placeholder]="placeholder" [invalid]="invalid"
                    [disabled]="disabled" [theme]="theme" [rows]="1" [cols]="cols" aria-label="textarea"></textarea>
            </ibm-label>
            <br />
            <ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
                Challange Discription
                <textarea style="width: 90%" ibmTextArea [placeholder]="placeholder" [invalid]="invalid"
                    [disabled]="disabled" [theme]="theme" [rows]="5" [cols]="cols" aria-label="textarea"></textarea>
            </ibm-label>
            <br />
            <ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
                Challange Objective
                <textarea style="width: 90%" ibmTextArea [placeholder]="placeholder" [invalid]="invalid"
                    [disabled]="disabled" [theme]="theme" [rows]="3" [cols]="cols" aria-label="textarea"></textarea>
            </ibm-label>
        
            <br />
            <ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
                Challange End Date
                <textarea style="width: 10%" ibmTextArea [placeholder]="placeholder" [invalid]="invalid"
                    [disabled]="disabled" [theme]="theme" [rows]="1" [cols]="1" aria-label="textarea"></textarea>
            </ibm-label>
        </div>
        
        <div ibmCol class="custom-class-example1" [columnNumbers]="{ md: 4, sm: 12 }">
            <h3>Company info</h3>
            <br />
            <h5>Direct line Insaurance</h5>
        
            <p class="praa">
                since we launched in 1985, our aim at Dircect line's has
                alwasy been to put the customer first.
            </p>
            <p class="praa">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s
            </p>
            <br />
            <p class="toggle_head">Withold Company Name</p>
            <ibm-toggle [label]="label" [onText]="Off" [offText]="Off" [disabled]="disabled" [checked]="checked"
                [size]="size">
            </ibm-toggle>
            <br />
            <p class="toggle_head">Withold Company Discription</p>
            <ibm-toggle [label]="label" [onText]="Off" [offText]="Off" [disabled]="disabled" [checked]="checked"
                [size]="size">
            </ibm-toggle>


            
            <button [ibmButton]="ibmButton" [size]="size" disabled="true" click="nextStep()">  Next</button>
           
              
            
        </div>
    </div>
    








