<div ibmGrid [condensed]="gridCondensed">
    <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
        <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
            <h3>Challenge Overview</h3>
            <br />
            <ibm-label>
                <ibm-label>
                    Challenge Title <p class="challTitle">
                        {{stepOne.title.length || 0}}/50</p>
                </ibm-label>
                <textarea style="width: 90%" ibmTextArea minlength="1" maxlength="50" [rows]="1" [cols]="cols"
                    aria-label="textarea" [(ngModel)]="stepOne.title"></textarea>
            </ibm-label>
            <div *ngIf="titleError">
                <p><span style="font-size: x-small; color: red">Challenge Title is required</span></p>
            </div>
            <br />
            <ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
                Challenge Description<p
                class="challTitle">{{stepOne.description.length || 0}}/500</p>
                <textarea style="width: 90%;margin-top: 10px;" ibmTextArea [invalid]="invalid" minlength="1" maxlength="500"
                    [disabled]="disabled" [theme]="theme" [rows]="5" [cols]="cols" aria-label="textarea"
                    [(ngModel)]="stepOne.description"></textarea>
            </ibm-label>
            <div *ngIf="descriptionError">
                <p><span style="font-size: x-small; color: red">Description is required</span></p>
            </div>
            <br />
            <ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
                Challenge Objectives<p
                class="challTitle">{{stepOne.objective.length || 0}}/100</p>
                <textarea style="width: 90%;margin-top: 10px;" ibmTextArea [invalid]="invalid" minlength="1" maxlength="100"
                    [(ngModel)]="stepOne.objective" [disabled]="disabled" [theme]="theme" [rows]="3" [cols]="cols"
                    aria-label="textarea"></textarea>
            </ibm-label>
            <div *ngIf="objectiveError">
                <p><span style="font-size: x-small; color: red">Objective is required</span></p>
            </div>
            <br />
            <div ibmGrid [condensed]="gridCondensed" style="padding-left: 15px;">
				<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
					<ibm-label>
                        Challenge Category</ibm-label>
                    <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 6, 'sm': 12}">
						<ibm-dropdown [label]="Min" [size]="size"
							placeholder="Select Category" (selected)="selectCategory($event)">
							<ibm-dropdown-list [items]="category"></ibm-dropdown-list>
						</ibm-dropdown>
						<div *ngIf="categoryTypeError">
							<p><span style="font-size: x-small; color: red">Challenge Category is required</span></p>
						</div>
					</div>
				</div>
			</div>
            <br/>
            <div ibmGrid [condensed]="gridCondensed" style="padding-left: 15px;">
				<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
					<ibm-label>
                        Challenge Contract Type</ibm-label>
					<div ibmCol class="custom-class-example" [columnNumbers]="{'md': 6, 'sm': 12}">
						<ibm-dropdown [label]="Min" [size]="size"
							placeholder="Select Challenge Type" (selected)="selectContract($event)">
							<ibm-dropdown-list [items]="contractType"></ibm-dropdown-list>
						</ibm-dropdown>
						<div *ngIf="challengeTypeError">
							<p><span style="font-size: x-small; color: red">Challenge Type is required</span></p>
						</div>
					</div>
				</div>
			</div>
            <br />
            <ibm-label>Challenge End Date
                <input type='date' min="{{minDate()}}" ibmTextArea style="width: 165px" [(ngModel)]="stepOne.endDate" />
                </ibm-label>
            <div *ngIf="endDateError">
                <p><span style="font-size: x-small; color: red">Expiration date should be later than today in DD/MM/YYYY format</span></p>
            </div>
        </div>

        <div ibmCol class="custom-class-example1" [columnNumbers]="{ md: 4, sm: 12 }">
            <h3>Company Info</h3>
            <br />
            <h5>Direct Line Insaurance</h5>
            <p class="praa">
                Since we launched in 1985, our aim at Dircect line's has
                alwasy been to put the customer first.
            </p>
            <br />
            <p class="praa">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s
            </p>
            <br />
            <p class="toggle_head">Withold Company Name</p>
            <ibm-toggle [onText]="'On'" [checked]="stepOne.witholdCompanyName" (change)="toggle01()" ></ibm-toggle>
            <div *ngIf="companyNameError">
                <p><span style="font-size: x-small; color: red">This is required to be selected</span></p>
            </div>
            <br />
            <p class="toggle_head">Withold Company Description</p>
            <ibm-toggle [onText]="'On'" [checked]="stepOne.witholdCompanyDescription" (change)="toggle02()"></ibm-toggle>
            <div *ngIf="companyDescriptionError">
                <p><span style="font-size: x-small; color: red">This is required to be selected</span></p>
            </div>
            <button [ibmButton]="ibmButton" class="btn" (click)="nextStep()"> Next</button>
        </div>
    </div>