.portrait {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;

  margin-left: 80px;
  margin-top: 20px;
}
.userdetail {
  white-space: nowrap;
  margin-left: 50px;
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin-bottom: 5px;
}
.userName {
  white-space: nowrap;
  margin-left: 93px;
  font-weight: 700;
  font-size: 16px;
  color: white;
 
}
.notify {
  white-space: nowrap;
  margin-left: 50px;
display: flex;
align-items: center;
  font-size: 14px;
  color: white;
 
}

svg {
  fill: white;
}

  svg{
	  fill: white;
  }

  .bx--btn{
	margin-left: 34px;
}

.bx--navigation-section:not(:last-child)::after {
  display: block;
  content: '';
  height: 1px;
  background-color: #393939;
  margin: 10px 2rem;
}

.bx--btn--ghost{
  color: white;
  margin-bottom: 50px;

}

.imglogo{
  margin-left: -57px;height: 48px;
}

.namefull{
  color: white;
  font-size: 16px;
  white-space: nowrap;
  margin-left: -24px;
}
