<!-- <ibm-header [route]="['/']" brand="" name="Market space">
	<ibm-header-navigation ariaLabel="Carbon Tutorial">
		<ibm-header-item [route]="['/dashboard']">Activity</ibm-header-item>
	</ibm-header-navigation>
	
	<ibm-header-global>
		<ibm-header-action title="action">
			<svg icon ibmIconNotification20></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg icon ibmIconUserAvatar20></svg>
			
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg icon ibmIconAppSwitcher20></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header> -->

<ibm-header  [route]="['/']"  name="Market space">
	<ibm-hamburger *ngIf="hasHamburger" [active]="active" (selected)="active = !active"></ibm-hamburger>
	<ibm-header-navigation>
		<ibm-header-item [route]="['/dashboard']">Activity</ibm-header-item>
		<ibm-header-item>Models</ibm-header-item>
		<!-- <ibm-header-item>Support</ibm-header-item>
		<ibm-header-menu title="Manage">
			<ibm-header-item>Link 1</ibm-header-item>
			<ibm-header-item>Link 2</ibm-header-item>
			<ibm-header-item>Link 3</ibm-header-item>
		</ibm-header-menu> -->
	</ibm-header-navigation>
	<ibm-header-global>
		
		
		<ibm-header-action #firstAction title="action">
			<svg icon ibmIconUserAvatar20></svg>
		</ibm-header-action>
		<ibm-header-action [(active)]="secondAction" title="action">
			<svg icon ibmIconFade size="20" ></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>

<ibm-panel [expanded]="firstAction.active">
	<img class="portrait mr-3" src="https://www.angularjswiki.com/author/admin/avatar_hufa038520d36dafb78f39a62f91de8258_77813_250x250_fill_q90_lanczos_center.jpg" itemprop="image" alt="Avatar">
	<p class="userName">Charlie R</p>
	<br />
	<p  class="userdetail">Active challange: 5</p>  
	<p  class="userdetail">Past challange: 8</p>  
	<p  class="userdetail">Model Watching: 2</p>  
	<p  class="userdetail">View profile</p>  
	<p  class="userdetail">----------------------</p>
	<p class="notify"> Notifications</p>
	<br />
	<p  class="userdetail">10:30 am</p> 
	<p class="notify"> Pridicting Smaller Claims</p>
	<p  class="userdetail">New Model Passed Final Stages</p>  
	<br />
	<p  class="userdetail">yesterday</p> 
	<p class="notify"> Identifying Fraud</p>
	<p  class="userdetail">New Model Passed Final Stages</p>  
	<p  class="userdetail">----------------------</p>
	<p class="notify"> Message</p>
	<br />
	<p  class="userdetail">Brian bro</p> 
	<p class="notify"> hi! charlie thanks for Claims</p>
	<p  class="userdetail">New Model Passed Final Stages</p>  
</ibm-panel>
<ibm-panel [expanded]="secondAction">
	<ibm-switcher-list>
		<ibm-switcher-list-item active="true">Switcher item one</ibm-switcher-list-item>
		<ibm-switcher-list-item>Switcher item two</ibm-switcher-list-item>
		<ibm-switcher-list-item>Switcher item three</ibm-switcher-list-item>
		<ibm-switcher-list-item>Switcher item four</ibm-switcher-list-item>
	</ibm-switcher-list>
</ibm-panel>