<p>
	Don't forget to check out the sample data sets before you submit a model.
	These data sets will help you get started in creating your models.
</p>
<br />
<!-- <p>Download Dataset   <svg icon ibmIconDownload16 (click)="downloadFile(challengeDetails?phases[0].sampleDataFile[0])"></svg></p> -->
<!-- <p>Download Dataset1 	<svg icon ibmIconDownload16 ></svg></p>
<p>Download Dataset2 	<svg icon ibmIconDownload16 ></svg></p> -->

<p *ngFor='let data of challengeDetails?.phases[0]?.sampleDataFile; index as i' >Download {{i+1}}
	<svg icon ibmIconDownload16 (click)="downloadFile(data[i])"></svg>
</p>
<button (click)="downloadFile()">download</button>
<div *ngIf="docError">
	<p><span style="font-size: x-small; color: red">Document not available for download</span></p>
</div>


<br />
<br />
<br />
<p>Once you've built your model you can <strong>upload it here</strong> to submit it for Phase 1 of training and testing.
</p>
<h6>Model</h6>
<p>Please upload your model in (.format) formats. (fileSize) MB max file size.
</p>

<app-drop-file-uploader (goNext)="setModel($event)" (filesChange)="onDropped($event.target.files)"></app-drop-file-uploader>

<div style="margin-left: auto; display: flex; justify-content: flex-end">
	<button class="bx--btn bx--btn--secondary" type="button">Cancel</button>
	&nbsp;
	<button [ibmButton]="ibmButton" class="btn" [size]="size" (click)="nextStep()"> Next</button>
</div>