<p>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry.
	Lorem Ipsum has been the industry's standard dummy
</p>
<br />
<p>Download Dataset1</p>
<p>Download Dataset1</p>
<br />
<br />
<br />
<p>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</p>
<h6>Model</h6>
<p>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</p>
<ibm-tag type="cool-gray">Modelname.mdk</ibm-tag>

<div style="margin-left: auto; display: flex; justify-content: flex-end">
	<button class="bx--btn bx--btn--secondary" type="button">Cancel</button>

	&nbsp;
    <button [ibmButton]="ibmButton" class="btn" [size]="size" (click)="nextStep()">  Next</button>
</div>

