<br/>
<div >
	<div style="margin-left: 90px;margin-right: 90px;">
		<p class="para">Welcome Back, Charlie</p>
		<div style="display: flex;">
			<h1 class="heading">Activity Dashboard</h1>
			<ibm-dropdown class="dropdown"
				[label]="'sort by'"
				[helperText]="helperText"
				[size]="size"
				[invalid]="invalid"
				[invalidText]="invalidText"
				[theme]="theme"
				placeholder="Most recent update"
				[disabled]="disabled"
				(selected)="selected($event)"
				(onClose)="onClose($event)">
				<ibm-dropdown-list [items]="items"></ibm-dropdown-list>
			</ibm-dropdown>
		</div>
		<ibm-tabs [followFocus]="true" [isNavigation]="false" [cacheActive]="true">
			<ibm-tab heading="Active">
				<br />
				<button class="btn1" [ibmButton]="ibmButton" [size]="size" (click)="createChalange()"> 
					Create Challenge<svg class="bx--btn__icon" ibmIconAdd size="12"></svg>
				</button>
				<br /><br />	
					<div style="display: flex;flex-wrap: wrap;justify-content: space-between;" >
						<div  class="custom-class-example"  style="width: 32%;"
							*ngFor="let activeChallenge of activeChallenges">
							
						<app-inv-challenge-tile [challange]="activeChallenge"></app-inv-challenge-tile>
						</div>
					</div>
				<br />
			</ibm-tab>
			<ibm-tab heading="Past">
				<br />
				<button class="btn1" [ibmButton]="ibmButton" [size]="size">
					Create Challenge<svg class="bx--btn__icon" ibmIconAdd size="12"></svg>
				</button>
				<br /><br />
				<div ibmGrid [condensed]="false" style="padding-left:0rem">
					<div ibmRow [gutter]="true" [leftGutter]="true" [rightGutter]="true" [condensed]="false">
						<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 3, sm: 12 }"
							*ngFor="let pastChallenge of pastChallenges">
							<app-challange-tile [challange]="pastChallenge"></app-challange-tile>
						</div>
					</div>
				</div>
				<br />
			</ibm-tab>
		</ibm-tabs>
	</div>
</div>