<app-header></app-header>
<div class="bx--grid">
  <br />
  <div class="bx--row line-padding">
    <div class="bx--col-md-1"></div>
    <div class="bx--col-md-4">
      <h1>Open Challenges</h1>
    </div>
    <div class="bx--col-md-1"></div>
  
  </div>

  <div class="bx--row line-padding" style="margin-top: 0px;">
    <div class="bx--col-md-1"></div>
    <div class="bx--col-md-4">
      <br />
      <br />
      <ibm-tabs [followFocus]="followFocus" [isNavigation]="isNavigation" [cacheActive]="cacheActive">
        <br/><br/>
        <ibm-tab heading="All">
          <ibm-tile *ngFor="let challenge of activeChallenges" style="margin-bottom: 15px;">
            <div style="display: flex;">
              <p style="font-size: 18px;">{{ challenge?.title }}</p>
              <!-- <div style="margin-left: auto;">
                <svg icon ibmIconBookmark20></svg>
                <svg icon ibmIconBookmarkFilled20></svg>
              </div> -->

              <div style="margin-left: auto;" *ngIf="isBookmarked(challenge?._id) == false">
                <svg icon ibmIconBookmark20 (click)="bookmarkChallenge(challenge._id)" ></svg>
              </div>

              <div style="margin-left: auto;" *ngIf="isBookmarked(challenge?._id) == true">
                <svg icon ibmIconBookmarkFilled20 (click)="unBookmarkChallenge(challenge._id)" ></svg>
              </div>

            </div>
            
            <h6>Issued by {{challenge?.insurerId.fullName}}</h6>
            <p style="font-size: 10px; margin-top: 8px;">on {{ getDate(challenge?.createdAt) }}</p>
            <div ibmGrid [condensed]="gridCondensed">
              <div  ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
                [condensed]="rowCondensed">
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 7, sm: 12 }">
                  <p class="para">{{ challenge?.description }}</p>
                </div>
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                  <!-- <ibm-checkbox [hideLabel]="hideLabel" (change)="bookmarkChallenge(challenge._id)"
                    style="margin-left: 150px; margin-top: -50px;"></ibm-checkbox> -->
                  <div class="content">
                    <!-- <p class="unbold">Phase 1</p>
                    <p class="nobold">55</p> -->
                  </div>
                </div>
              </div>
              <br />
              <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
                [condensed]="rowCondensed" style="margin-left: -59px;">
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                  <div style="display: flex; margin-left: 27px;">
                    <svg icon ibmIconEdtLoop16></svg>
                    &nbsp;&nbsp;
                    <p style="margin-top: -4px;">{{challenge?.acceptedUsersCount}}</p>
                  </div>
                </div>
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                  <div style="display: flex; margin-left: 27px;">
                    <svg icon ibmIconUserMultiple16></svg>
                    &nbsp;&nbsp;
                    <p style="margin-top: -4px;">{{challenge?.submissionsCount}}</p>
                  </div>
                </div>
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }">
                  <div style="
                      display: flex;
                      margin-left: 27px;
                      white-space: nowrap;
                    ">
                    <svg icon ibmIconPartnership16></svg>
                    &nbsp;&nbsp;
                    <p style="margin-top: -4px;">on off</p>
                  </div>
                </div>
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }">
                  <div style="display: flex; margin-left: -33px;">
                    <svg icon ibmIconTime16></svg>
                    &nbsp;&nbsp;
                    <p style="margin-top: -4px;">{{getExpiryDate(challenge?.expiryDate)}}</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn" [ibmButton]="ibmButton" [size]="size" (click)="viewChallenge(challenge._id)">
              View more and apply
            </button>
          </ibm-tile>
        </ibm-tab>

        <ibm-tab heading="Bookmarked">
          <ibm-tile *ngFor="let challenge of bookmarkedChallenges" style="margin-bottom: 15px;">
            <p style="font-size: 18px;">{{ challenge?.title }}</p>
            <br />
            <h6>Issued by {{challenge?.insurerId.fullName}}</h6>
            <p style="font-size: 10px;">
              on {{ getDate(challenge?.createdAt) }}
            </p>
            <div ibmGrid [condensed]="gridCondensed">
              <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
                [condensed]="rowCondensed">
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 7, sm: 12 }">
                  <p class="para">{{ challenge?.description }}</p>
                </div>
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                  <div class="content">
                    <!-- <p class="unbold">Phase 1</p>
                    <p class="nobold">55</p> -->
                  </div>
                </div>
              </div>
              <br />
              <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
                [condensed]="rowCondensed" style="margin-left: -59px;">
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                  <div style="display: flex; margin-left: 27px;">
                    <svg icon ibmIconTime16></svg>
                    &nbsp;&nbsp;
                    <p style="margin-top: -4px;">{{challenge?.acceptedUsersCount}}</p>
                  </div>
                </div>
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                  <div style="display: flex; margin-left: 27px;">
                    <svg icon ibmIconTime16></svg>
                    &nbsp;&nbsp;
                    <p style="margin-top: -4px;">{{challenge?.submissionsCount}}</p>
                  </div>
                </div>
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                  <div style="
                      display: flex;
                      margin-left: 27px;
                      white-space: nowrap;
                    ">
                    <svg icon ibmIconTime16></svg>
                    &nbsp;&nbsp;
                    <p style="margin-top: -4px;">on off</p>
                  </div>
                </div>
                <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                  <div style="display: flex; margin-left: 27px;">
                    <svg icon ibmIconTime16></svg>
                    &nbsp;&nbsp;
                    <p style="margin-top: -4px;">
                      {{ getExpiryDate(challenge?.expiryDate) }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn" [ibmButton]="ibmButton" [size]="size" (click)="viewChallenge(challenge._id)">
              View more and apply
            </button>
          </ibm-tile>

        </ibm-tab>
      </ibm-tabs>
<!-- 
      <div style="width: 800px">
				<app-pagination
				
					[totalDataLength]="totalDataLength"
					[numOfItemsToShow]="numOfItemsToShow">
				</app-pagination>
			</div> -->

      <!-- <nav class="bx--pagination-nav" aria-label="pagination" data-pagination-nav>
  <ul class="bx--pagination-nav__list">
      <li class="bx--pagination-nav__list-item">
          <button
            class="bx--pagination-nav__page bx--pagination-nav__page--direction "
            data-page-previous
          >
          <span class="bx--pagination-nav__accessibility-label">Previous page </span>
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--pagination-nav__icon" width="5" height="8" viewBox="0 0 5 8" aria-hidden="true"><path d="M5 8L0 4 5 0z"></path></svg>
          </button>
      </li>
      <li class="bx--pagination-nav__list-item">
            <button
              class="bx--pagination-nav__page"
              data-page="1"
              data-page-button
            >
            <span class="bx--pagination-nav__accessibility-label">page </span>1
            </button>
      </li>
      <li class="bx--pagination-nav__list-item">
            <button
              class="bx--pagination-nav__page"
              data-page="2"
              data-page-button
            >
            <span class="bx--pagination-nav__accessibility-label">page </span>2
            </button>
      </li>
      <li class="bx--pagination-nav__list-item">
            <button
              class="bx--pagination-nav__page bx--pagination-nav__page--active bx--pagination-nav__page--disabled"
              data-page="3"
              data-page-button
                data-page-active="true"
                aria-current="page"
                aria-disabled="true"
            >
            <span class="bx--pagination-nav__accessibility-label">page </span>3
            </button>
      </li>
      <li class="bx--pagination-nav__list-item">
            <button
              class="bx--pagination-nav__page"
              data-page="4"
              data-page-button
            >
            <span class="bx--pagination-nav__accessibility-label">page </span>4
            </button>
      </li>
      <li class="bx--pagination-nav__list-item">
            <button
              class="bx--pagination-nav__page"
              data-page="5"
              data-page-button
            >
            <span class="bx--pagination-nav__accessibility-label">page </span>5
            </button>
      </li>
      <li class="bx--pagination-nav__list-item">
          <div class="bx--pagination-nav__select">
            <select
              class="bx--pagination-nav__page bx--pagination-nav__page--select"
              data-page-select
              aria-label="select page number"
            >
                <option
                  value=""
                    hidden
                >
                  
                </option>
                <option
                  value="6"
                    data-page="6"
                >
                  6
                </option>
                <option
                  value="7"
                    data-page="7"
                >
                  7
                </option>
                <option
                  value="8"
                    data-page="8"
                >
                  8
                </option>
                <option
                  value="9"
                    data-page="9"
                >
                  9
                </option>
            </select>
            <div class="bx--pagination-nav__select-icon-wrapper">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--pagination-nav__select-icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><circle cx="3" cy="8" r="1"></circle><circle cx="8" cy="8" r="1"></circle><circle cx="13" cy="8" r="1"></circle></svg>
            </div>
          </div>
      </li>
      <li class="bx--pagination-nav__list-item">
            <button
              class="bx--pagination-nav__page"
              data-page="10"
              data-page-button
            >
            <span class="bx--pagination-nav__accessibility-label">page </span>10
            </button>
      </li>
      <li class="bx--pagination-nav__list-item">
          <button
            class="bx--pagination-nav__page bx--pagination-nav__page--direction"
            data-page-next
          >
          <span class="bx--pagination-nav__accessibility-label">Next page </span>
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--pagination-nav__icon" width="5" height="8" viewBox="0 0 5 8" aria-hidden="true"><path d="M0 0L5 4 0 8z"></path></svg>
          </button>
      </li>
  </ul>
</nav> -->

      <div class="bx--pagination" data-pagination>
        <div class="bx--pagination__right">
          <label id="select-id-pagination-page-label" class="bx--pagination__text" for="select-id-pagination-page">
            pages {{pageNo+1}} of {{totalPage}}
          </label>
          <button class="bx--pagination__button bx--pagination__button--backward " tabindex="0" data-page-backward
            aria-label="previous page" (click)="prevPage()">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
              xmlns="http://www.w3.org/2000/svg" class="bx--pagination__nav-arrow" width="20" height="20"
              viewBox="0 0 32 32" aria-hidden="true">
              <path d="M19 23L11 16 19 9 19 23z"></path>
            </svg>
          </button>
          <button class="bx--pagination__button bx--pagination__button--forward " tabindex="0" data-page-forward
            aria-label="next page" (click)="nextPage()">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
              xmlns="http://www.w3.org/2000/svg" class="bx--pagination__nav-arrow" width="20" height="20"
              viewBox="0 0 32 32" aria-hidden="true">
              <path d="M13 9L21 16 13 23 13 9z"></path>
            </svg>
          </button>
        </div>
      </div>

    </div>

    <div class="bx--col-md-1" style="margin-left: 52px;">
      <div style="width: 155px;">
        <ibm-dropdown [label]="'Sort by'" [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText"
          [theme]="theme" placeholder="select" [disabled]="disabled" (selected)="sortSelect($event)"
          (onClose)="onClose($event)">
          <ibm-dropdown-list [items]="sorting"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>
    </div>
    
  </div>
</div>


