<app-header></app-header>
<br /><br />
<div class="bx--grid">
	<div class="bx--row line-padding">
		<div class="bx--col-md-1" style="padding-left: 8%">
			<svg icon ibmIconArrowLeft16></svg>
		</div>
		<div class="bx--col-md-4">
			<ibm-breadcrumb [noTrailingSlash]="noTrailingSlash">
				<ibm-breadcrumb-item (click)="invChallenges()" class="navigation">
					Browse
				</ibm-breadcrumb-item>
				<ibm-breadcrumb-item href="asa" class="navigation">
					Challenge title
				</ibm-breadcrumb-item>
			</ibm-breadcrumb>
		</div>

		<div *ngIf="toasterMsg" data-notification class="bx--toast-notification bx--toast-notification--success"
			role="alert">
			<div class="bx--toast-notification__details">
				<p class="bx--toast-notification__title">Challenge Accepted</p>
				<p class="bx--toast-notification__subtitle">Selected challenge is in accepted state, Please submit
					required challenge information.</p>
			</div>
			<button data-notification-btn (click)="closeToaster()" class="bx--toast-notification__close-button"
				type="button" aria-label="close">
				<svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform"
					xmlns="http://www.w3.org/2000/svg" class="bx--toast-notification__close-icon" width="20" height="20"
					viewBox="0 0 32 32" aria-hidden="true">
					<path
						d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z">
					</path>
				</svg>
			</button>
		</div>

		<!-- <ibm-toast
			class="toaster"
			[notificationObj]="{
				type: 'success',
				title: 'New notification setting',
				subtitle: 'Alert set for modelname.mdk',
				lowContrast: lowContrast,
				showClose: showClose
			}"
		></ibm-toast> -->
	</div>
	<br /><br />

	<div class="bx--row line-padding" *ngIf="challengeDetails?._id.length > 0">
		<div class="bx--col-md-1"></div>
		<div class="bx--col-md-6">
			<div>
				<p style="font-size: 40px;font-weight: 100;">{{challengeDetails.title}}</p>
				<br /> <br />
				<div *ngIf="acceptedChallenge?._id.length>0">
					<button class="bx--btn bx--btn--tertiary" type="button" >
						<span>Accepted</span>
						<svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
							xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon" width="16" height="16"
							viewBox="0 0 16 16" aria-hidden="true">
							<path d="M9 7L9 3 7 3 7 7 3 7 3 9 7 9 7 13 9 13 9 9 13 9 13 7z"></path>
						</svg>
					</button>
				</div>

				<div *ngIf="acceptedChallenge?._id.length==0">
					<button class="bx--btn bx--btn--tertiary" type="button"
						(click)="acceptChallenge(challengeDetails._id)">
					<span>Accept</span>
						<svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
							xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon" width="16" height="16"
							viewBox="0 0 16 16" aria-hidden="true">
							<path d="M9 7L9 3 7 3 7 7 3 7 3 9 7 9 7 13 9 13 9 9 13 9 13 7z"></path>
						</svg>
					</button>
				</div>
				<br />
			</div>
			<ibm-tabs [followFocus]="true" [isNavigation]="false" [cacheActive]="true" style="width: 50%;">
				<ibm-tab heading="Overview" style="max-width: 95px;">
					<br />
					<div ibmGrid [condensed]="gridCondensed">
						<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
							[condensed]="rowCondensed">
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }"
								style="margin-right: 37px; margin-left: -14px">
								<h3>Challenge Info</h3>
								<br />
								<p style="font-size: 14px; line-height: 1.5">{{challengeDetails.description}}</p>
							</div>

							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 3, sm: 12 }">
								<h3 style="text-transform: capitalize;">{{challengeDetails?.insurerId?.fullName}}</h3>
								<br />
								<p>{{challengeDetails?.insurerId?.bio}}</p>
								<br /><br />
								<h3>Reward</h3>
								<br />
								<p style="font-size: 16px; line-height: 1.5">
									<svg icon ibmIconPartnership16></svg> Contract
								</p>
								<br />
								<p style="font-size: 14px; line-height: 1.5">
									This challenge is issued with the aim of finding and building long lasting
									relationships with an innovator.
								</p>
								<br />
								<p style="font-size: 14px; line-height: 1.5">If selected, you will be offered a contract
									to collaborate with
									<strong
										style="text-transform: capitalize;">{{challengeDetails.insurerId.fullName}}</strong>
								</p>
							</div>
						</div>
					</div>
				</ibm-tab>
				<ibm-tab heading="Data" style="max-width: 95px;">
					<br />
					<div ibmGrid [condensed]="gridCondensed">
						<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
							[condensed]="rowCondensed">
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }"
								style="margin-right: 37px; margin-left: -14px"
								*ngFor="let phase of challengeDetails?.phases; index as i">
								<h3>Phase {{i+1}}</h3>
								<br />
								<p>{{phase?.description}}</p>
							</div>
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 3, sm: 12 }">
								<h6 style="margin-left: 12px;">Data Visual</h6>
								<img style="margin-left: -10px; height: 125px; width: 300px"
									src='http://localhost:3000/{{challengeDetails.phases[0].dataVisualFile}}'>
								<br />
								<br />
								<h6>Sample Data set</h6>
								<p *ngFor='let data of challengeDetails?.phases[0]?.sampleDataFile; index as i'>Download
									{{i+1}}
									<svg icon ibmIconDownload16 style="cursor: pointer;"
										(click)="downloadFile(data[i])"></svg>
								</p>
							</div>
						</div>
					</div>
				</ibm-tab>

				<ibm-tab heading="Discussion" style="max-width: 105px;"> </ibm-tab>

				<ibm-tab heading="Leaderboard" style="max-width: 105px;">
					<ibm-table-container>
						<br />
						<ibm-table-header>
							<h4 ibmTableHeaderTitle>Leaderboard</h4>
						</ibm-table-header>
						<table class="bx--data-table">
							<thead>
								<tr>
									<th>
										<span class="bx--table-header-label">Rank</span>
									</th>
									<th>
										<span class="bx--table-header-label">Name</span>
									</th>
									<th>
										<span class="bx--table-header-label">Phase</span>
									</th>
									<th>
										<span class="bx--table-header-label">Score</span>
									</th>
									<th>
										<span class="bx--table-header-label">Date</span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of leaderboard; index as i">
									<!-- <tr *ngFor="let data of challengeSubmissionData; index as i"> -->
									<td>{{i+1}}</td>
									<td>{{data?.innovatorId?.fullName}}</td>
									<td>Phase 1</td>
									<!-- <td>{{getScore()}}</td> -->
									<td>35</td>
									<td>{{getDate(data?.createdAt)}}</td>
								</tr>
							</tbody>
						</table>
						<br />

						<div class="bx--pagination" data-pagination>


							<div class="bx--pagination__right">

								<label id="select-id-pagination-page-label" class="bx--pagination__text"
									for="select-id-pagination-page">
									pages {{pageNo+1}} of {{totalPage}}
								</label>
								<button class="bx--pagination__button bx--pagination__button--backward " tabindex="0"
									data-page-backward aria-label="previous page" (click)="prevPage()" >
									<svg focusable="false" preserveAspectRatio="xMidYMid meet"
										style="will-change: transform;" xmlns="http://www.w3.org/2000/svg"
										class="bx--pagination__nav-arrow" width="20" height="20" viewBox="0 0 32 32"
										aria-hidden="true">
										<path d="M19 23L11 16 19 9 19 23z"></path>
									</svg>
								</button>
								<button class="bx--pagination__button bx--pagination__button--forward " tabindex="0"
									data-page-forward aria-label="next page" (click)="nextPage()" >
									<svg focusable="false" preserveAspectRatio="xMidYMid meet"
										style="will-change: transform;" xmlns="http://www.w3.org/2000/svg"
										class="bx--pagination__nav-arrow" width="20" height="20" viewBox="0 0 32 32"
										aria-hidden="true">
										<path d="M13 9L21 16 13 23 13 9z"></path>
									</svg>
								</button>
							</div>
						</div>
					</ibm-table-container>

				</ibm-tab>
				<ibm-tab heading="Your Submission" style="max-width: 105px;">
					<br />
					<div ibmGrid [condensed]="gridCondensed">
						<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
							[condensed]="rowCondensed">
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }"
								*ngIf="current!=3">
								<ibm-progress-indicator orientation="vertical" [steps]="steps" [current]="current"
									(stepSelected)="stepSelected($event)">
								</ibm-progress-indicator>
							</div>
							<div ibmCol class="custom-class-example1" [columnNumbers]="{ md: 6, sm: 12 }">
								<app-submission-step-one [challengeDetails]="challengeDetails" *ngIf="current == 0"
									(goNext)=nextStepOne($event)>
								</app-submission-step-one>
								<app-submission-step-two *ngIf="current == 1" (goPrevious)="previousStepTwo()"
									(goNext)="nextStepTwo($event)"></app-submission-step-two>
								<app-submission-step-three *ngIf="current == 2" (goPrevious)="previousStepThree()"
									(goNext)="nextStepThree($event)"></app-submission-step-three>
								<app-submission-step-four *ngIf="current == 3" (goPrevious)="previousStepFour()"
									(goToStepOne)="goToStepOne()" (goNext)="nextStepFour($event)" [isChallengeAccepted]='isChallengeAccepted'
									[challengeSubmissionData]="challengeSubmissionData"></app-submission-step-four>
							</div>
						</div>
					</div>
				</ibm-tab>
			</ibm-tabs>
		</div>

		<div class="bx--col-md-2"></div>
	</div>
</div>