.bx--tile {
    display: block;
    min-width: 44rem;
    min-height: 6rem;
    background-color: #f4f4f4;
    position: relative;
    padding: 1rem;
    outline: 2px solid transparent;
    outline-offset: -2px;
}

.bold{
    font-weight: 600;
    font-size: 14px;
}
.para{
    font-size: 12px;
    text-align:justify;
    line-height: 1.5;
}

.readmore01 {
    font-size: x-small;
    cursor: pointer;
    color: blue;
}

.readmore02 {
    font-size: x-large;
    cursor: pointer;
    color: blue;
}

.btn-compare {
    margin: auto;
    display: flex;
  margin-left: 0px;
   margin-bottom: -15px;
    margin-top:0px !important;
}
.btn{
    margin: auto;
    display: flex;
    
   margin-right: -15px;
   margin-bottom: -15px;
    margin-top:-30px !important;
   }


   .content{
       margin-left: 50px;
       margin-top: -20px;
   }

   .nobold{
       font-size: 28px;
       font-weight: 600;
       color: #3B55EA;
       
   }
   .unbold{
       font-size: 9px;
       color: #3B55EA;
       white-space: nowrap;
   }
//    .left-border{
//        border-left: 6px solid #3B55EA;
//        height: 104px;
//    }


@media (min-width: 42rem){

    .bx--grid {
        padding-right: 2rem;
        padding-left: 21px;
    }

}

.gridchange{
    margin-left: 21px;
}
