<br /><br />
<p>Challenges Phases</p>

<div ibmGrid [condensed]="gridCondensed">
  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
    <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}"
      *ngFor="let phase of challengeDetails.phases; index as i">
      <ibm-checkbox checked="true" [hideLabel]="hideLabel" (change)="onChange($event)"
        (click)="handlePhaseClick(phase.phaseId)">Phase {{i+1}}</ibm-checkbox>
    </div>
  </div>
</div>
<br /><br />

<div ibmGrid [condensed]="gridCondensed">
  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
    <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">
      <h6>Model Comparison</h6>
      <p>(compareModel) models selected</p>
      <br />
      <button class="btn-compare" [ibmButton]="ibmButton" [size]="size" (click)="compareModels()">Compare</button>
    </div>
  </div>

  <br /><br />
  <div style="display: flex;">
    <ibm-tabs [followFocus]="followFocus" [isNavigation]="isNavigation" [cacheActive]="cacheActive">
      <ibm-tab heading="All">
        <div ibmGrid [condensed]="gridCondensed" style="margin-left: -5px;">
          <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
            [condensed]="rowCondensed">
            <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 7, sm: 12 }"
              *ngFor="let data of modelData; index as i">
              <ibm-tile>
                <h3>{{i+1}}. {{ data.mlFlowId}}</h3>
                <div ibmGrid [condensed]="gridCondensed">
                  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
                    [condensed]="rowCondensed">
                    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                      <p class="bold">{{data.innovatorId.fullName}}</p>
                    </div>
                    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }">
                      <p class="bold">Submitted: {{getDate(data.createdAt)}}</p>
                    </div>
                  </div>
                  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
                    [condensed]="rowCondensed">
                    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 6, sm: 12 }">
                      <p class="para">{{data.modelDescription}}</p>
                    </div>
                    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }">
                      <ibm-checkbox [hideLabel]="hideLabel" (change)="onChange($event, data._id)"
                        style="margin-left: 150px; margin-top: -50px;"></ibm-checkbox>
                      <div class="content" style="margin-left: 140px; margin-top: 10px;">
                        <p class="unbold">Phase 1</p>
                        <p class="nobold">55</p>
                      </div>
                    </div>
                  </div>
                  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
                    [condensed]="rowCondensed">
                    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                      <p class="bold">Accuracy: {{data.score}} </p>
                    </div>
                    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                      <p class="bold">Precesion: {{data.precisionScore}}</p>
                    </div>
                    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
                      <p class="bold">Recall:{{data.recallScore}}</p>
                    </div>
                  </div>
                </div>
                <button class="btn" [ibmButton]="ibmButton" [size]="size">View Model Report</button>
              </ibm-tile>
              <br /><br />
            </div>
          </div>
        </div>
      </ibm-tab>
      <ibm-tab heading="Bookmarked">Bookmarked</ibm-tab>
    </ibm-tabs>
  </div>

  <table *ngIf="modelComparison" class="bx--data-table" style="display: (modelComparison)">
    <thead>
      <tr>
        <th>
          <span class="bx--table-header-label"></span>
        </th>
        <th *ngFor="let model of compareModelData">
          <span class="bx--table-header-label">{{model.mlFlowId}}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Innovator</td>
        <td *ngFor="let model of compareModelData">{{model.innovatorId.fullName}}</td>
      </tr>
      <tr>
        <td>Model discription</td>
        <td *ngFor="let model of compareModelData">{{model.modelDescription}}</td>
      </tr>
      <tr>
        <td>Model Approach</td>
        <td *ngFor="let model of compareModelData">{{model.approch}}</td>
      </tr>
      <tr>
        <td>Model Language</td>
        <td *ngFor="let model of compareModelData">python</td>
      </tr>
      <tr>
        <td>Model Score</td>
        <td *ngFor="let model of compareModelData">{{model.score}}</td>
      </tr>
      <tr>
        <td>Accuracy</td>
        <td *ngFor="let model of compareModelData">{{model.precisionScore}}</td>
      </tr>
      <tr>
        <td>Recall</td>
        <td *ngFor="let model of compareModelData">{{model.recallScore}}</td>
      </tr>
      <tr>
        <td>Precision</td>
        <td *ngFor="let model of compareModelData">{{model.precisionScore}}</td>
      </tr>
      <tr>
        <td>Test Time</td>
        <td *ngFor="let model of compareModelData">90</td>
      </tr>
    </tbody>
    <tr>
      <th>
        <span class="bx--table-header-label">Phase 2</span>
      </th>
      <th>
        <span class="bx--table-header-label"></span>
      </th>
      <th>
        <span class="bx--table-header-label"></span>
      </th>
      <th>
        <span class="bx--table-header-label"></span>
      </th>
    </tr>
    <tbody>
      <tr>
        <td>Model Language</td>
        <td *ngFor="let model of compareModelData">python</td>
      </tr>
      <tr>
        <td>Model Score</td>
        <td *ngFor="let model of compareModelData">{{model.score}}</td>
      </tr>
      <tr>
        <td>Accuracy</td>
        <td *ngFor="let model of compareModelData">80</td>
      </tr>
      <tr>
        <td>Recall</td>
        <td *ngFor="let model of compareModelData">{{model.recallScore}}</td>
      </tr>
      <tr>
        <td>Precision</td>
        <td *ngFor="let model of compareModelData">{{model.precisionScore}}</td>
      </tr>
      <tr>
        <td>Test Time</td>
        <td *ngFor="let model of compareModelData">90</td>
      </tr>
    </tbody>
  </table>

  <!-- <Pagination /> -->

</div>