.content-switcher {
    display: flex;
    justify-content: end;
    width: 23%;
    height: 2.5rem;
}

svg{
    fill: white ;
}

                                                                            