.bx--content-switcher {
    display: flex;
    justify-content: end !important;
    width: 38%;
    height: 2.5rem;
   
}

.activitypara{
    margin-left: 25px;
    margin-top: 4px;
    font-size: 13px;
}
