<ibm-tile class="tile" style="
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  ">
  <div>
    <div style="display: flex;">
      <h5>
        {{ challenge?.title }}
      </h5>

      <div class="tags">
        <svg icon ibmIconCheckmarkFilled16 class="filled"></svg>
        <svg icon ibmIconWarning20 class="fille"></svg>
        &nbsp;&nbsp;
        <p style="margin-top: -4px; font-size: 10px;">Training</p>
      </div>
    </div>
    <br />

    <div ibmGrid [condensed]="gridCondensed">
      <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed"
        style="margin-left: 0px;">
        <div ibmCol class="custom-class-example" style="margin-left: -34px;" [columnNumbers]="{ md: 5, sm: 12 }">
          {{ challenge?.description }}
        </div>

        <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 3, sm: 12 }" style="margin-left: 33px;">
          <div style="display: flex;">
            <svg icon ibmIconEdtLoop16></svg>
            &nbsp;&nbsp;
            <p style="margin-top: -4px; font-size: 10px;">
              {{ challenge?.submissionsCount }}
            </p>
          </div>
          <div style="display: flex;">
            <svg icon ibmIconUserMultiple16></svg>
            &nbsp;&nbsp;
            <p style="margin-top: -4px; font-size: 10px;">
              {{ challenge?.acceptedUsersCount }}
            </p>
          </div>
          <div style="display: flex;">
            <svg icon ibmIconPartnership16></svg>
            &nbsp;&nbsp;
            <p style="margin-top: -4px; font-size: 10px;">One off</p>
          </div>
          <div style="display: flex;">
            <svg icon ibmIconTime16></svg>
            &nbsp;&nbsp;
            <p style="margin-top: -4px; font-size: 10px;">{{getExpiryDate(challenge.expiryDate)}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed"
    style="margin-right: 40px;">
    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 6, sm: 12 }">
      <p class="date" style="display: flex; align-items: center;">
        <svg icon ibmIconBadge20></svg>
        <span>1st place</span>
      </p>
    </div>
    <div ibmCol class="custom-class-example" style="margin-bottom: -31px;" [columnNumbers]="{ md: 1, sm: 12 }">
      <button class="btn" [ibmButton]="primary" [size]="'sm'" (click)="viewChalange(challenge?._id)"
        style="position: absolute;bottom: 0px;right: 0px;width: 88px;">
        View
      </button>
    </div>
  </div>
</ibm-tile>