<ibm-tile class="tile" style="padding: 0px;">
    <div class="mostparent">
        <div style="display: grid;grid-template-columns: 70% 30%;padding: 1rem;">
            <p style="overflow-wrap: break-word;">
                {{ challenge?.title }}
            </p>
            <div class="tags" *ngIf="getStatus(challenge?._id) == 'UPLOADING' ">
                <svg icon ibmIconWarningFilled16 class="fille"></svg> &nbsp;&nbsp;
                <p style="margin-top: 0px; font-size: 10px;line-height: 18px;">Model Not<br/>Uploaded</p>
            </div>
            <div class="tags" *ngIf="getStatus(challenge?._id) == 'TRAINING' ">
                <ibm-inline-loading [loadingText]="loadingText" [successText]="successText" (onSuccess)="onSuccess($event)"></ibm-inline-loading>
                &nbsp;&nbsp;
                <p style="margin-top: -4px; font-size: 12px;">Training</p>
            </div>
            <div class="tags" *ngIf="getStatus(challenge?._id) == 'FAILED' ">
                <svg class="svgRed" icon ibmIconCloseFilled16></svg> &nbsp;&nbsp;
                <p style="margin-top: 0px; font-size: 12px;line-height: 18px;">Failed</p>
            </div>
            <div class="tags" *ngIf="getStatus(challenge?._id) == 'RESULTS' ">
                <svg icon ibmIconCheckmarkFilled16 class="filled"></svg> &nbsp;&nbsp;
                <p style="margin-top: 0px; font-size: 12px;line-height: 18px;">Results</p>
            </div>
        </div>

        <div class="invphasename">
            <span>{{getPhaseCount(challenge)}}</span>
        </div>
        <div style="display: grid;grid-template-columns: 70% 30%;padding: 1rem;">
            <div class="custom-class-example">
                {{ getDescriptionStr(challenge?.description) }}<span *ngIf="challenge?.description.length>250">...</span>
            </div>
            <div class="icon2">
                <div class="sideicon">
                    <svg icon ibmIconEdtLoop16></svg> &nbsp;&nbsp;
                    <p style="font-size: 10px;">
                        {{ challenge?.submissionsCount }}
                    </p>
                </div>
                <div class="sideicon">
                    <svg icon ibmIconUserMultiple16></svg> &nbsp;&nbsp;
                    <p style="font-size: 10px;">
                        {{ challenge?.acceptedUsersCount }}
                    </p>
                </div>
                <div class="sideicon">
                    <svg icon ibmIconPartnership16></svg> &nbsp;&nbsp;
                    <p style="font-size: 10px;">{{challenge?.challengeType}}</p>
                </div>
                <div class="sideicon">
                    <svg icon ibmIconTime16></svg> &nbsp;&nbsp;
                    <p style="font-size: 10px;">{{getExpiryDate(challenge.expiryDate)}}</p>
                </div>
            </div>
        </div>

        <div style="display: grid;grid-template-columns: 68% 32%;padding: 0rem;">
            <div style="padding-left: 1rem;">
                <p class="date" style="display: flex; align-items: center;">
                    <svg icon ibmIconBadge20></svg>
                    <span>{{getPlace(challenge?._id)}}</span>
                </p>
            </div>
            <div>
                <button class="btn" [ibmButton]="primary" [size]="'sm'" (click)="viewChalange(challenge?._id)" style="width:100%;">
          View
        </button>
            </div>
        </div>
    </div>
</ibm-tile>