.para{
    margin-top: 40px;
}
.heading{
    margin-top: 10px;
margin-bottom: 10px;
}

.tile{
    height: 100%;display: flex;flex-direction: column;justify-content: space-between; position: relative;
}

a.bx--tabs__nav-link {
    border-bottom: 3px solid #e0e0e0;
    padding: 0.5rem 1rem;
    width: 6rem !important;
    margin: 0;
    line-height: inherit;
}
.bx--tabs__nav--hidden {
    display: flex;
    transition: inherit;
    overflow: visible;
    width: 6rem !important;
    max-height: none;
}

tabs{
    width: 6rem;
}

.gridhead{
    font-size: 13px;
}
.custom-class-example{
    font-size: 10px;
    padding-bottom : 0px !important;
}

// .btn{
//     width: 10px;
//  margin: auto;
//  display: flex;
//  margin-left: 30px;
//  margin-top:20px !important;
// }
.date{
    font-size: 10px;
   
}

.tags{
    align-items: center;
    justify-content: flex-start;
     display: flex;
    width: 100%;
    white-space: nowrap;
 }
 

svg.filled{
    fill: green;
}
svg.fille{
    fill: #F6D03B;
    margin-top: -15px;
}

@media (min-width: 42rem){
.bx--grid {
    padding-left: 2rem;
    padding-right: 0rem;
}}

.mostparent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideicon{
    display: flex; 
}

.invphasename{
    font-weight: 600;margin-left: 1rem;margin-top: -10px;font-size: 13px;
}

@media screen and (max-width: 1024px) {
  
	.invphasename{
        font-weight: 600;margin-left: 1rem;margin-top: -18px;font-size: 13px;
    }
  }
