.Step2btn_next{
    margin-top: 380px !important;
    margin: auto;
    display: flex;
    

}
.Step2btn_pre{
    margin-top: 380px !important;
    margin: auto;
    display: flex;
    margin-right: 0px;
background-color: #383838;border: none;
}

.drag{
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

