<div ibmGrid [condensed]="gridCondensed">
  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }">
      <div class="bx--form-item" style="margin-top: 50%;">
        <label for="text-input-3" class="bx--label">Username</label>

        <input id="text-input-3" type="text" class="bx--text-input" [(ngModel)]="username" placeholder="username@ibm.com" />
      </div>

      <div class="bx--form-item">
        <label for="text-input-3" class="bx--label">Password</label>

        <input id="text-input-3" type="password" class="bx--text-input" [(ngModel)]="password" placeholder="password" />
      </div>

      <br />
      <div class="bx--form-item">
        <button class="bx--btn bx--btn--primary" type="button" (click)="login()">Sign In</button>
      </div>
    </div>
    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
      <img src="assets/tab.png" height="568px">
    </div>

  </div>
</div>