
.btn{
    display: flex;
    margin-right: -16px;
    margin-left: auto;
    margin-top: 20px !important;
    margin-bottom: 18px;
}
.view{
    margin: auto;
    display: flex;
    height: 34px;
    background-color: #383838;
   margin-left: -13px;
white-space: nowrap;
    margin-top:20px !important;
   }
   .model{
    margin: auto;
    display: flex;
    height: 34px;
    margin-right: 100px;
   margin-right: -31px;
   white-space: nowrap;
   width: 123px;
   margin-top:20px !important;
}

@media (min-width: 42rem){
.bx--grid {
     padding-left: 1rem; 
    padding-right: 2rem;
}
}