<button [ibmButton]="ibmButton" [size]="size">
    Submit model<svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
</button>   
<br />
<div style="display: flex; flex-flow: row wrap; justify-content: space-around;">
   
    <!-- <ibm-tile style="width: 293px;">
        <div style="display: flex">
            <p>
                modelname.mdk
            </p>
    
            <ibm-tag class="tags" type="cool-gray">Efficiency</ibm-tag>
        </div>
        <div ibmGrid [condensed]="gridCondensed" >
            <div
                ibmRow
                [gutter]="gutter"
                [leftGutter]="leftGutter"
                [rightGutter]="rightGutter"
                [condensed]="rowCondensed"
                style="width: 599px;"
                >
                  <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </div>
                
            </div>
           
         </div>
         <button  class="btn"  [ibmButton]="ibmButton" [size]="size">View model</button>
    </ibm-tile> -->

    <ibm-tile class="tile">
        <div style="display: flex">
            <p>
                modelname.mdk
            </p>
    
    
           <p>Results available</p>
        </div>
    
        <br />
        <div ibmGrid [condensed]="gridCondensed">
            <div
                ibmRow
                [gutter]="gutter"
                [leftGutter]="leftGutter"
                [rightGutter]="rightGutter"
                [condensed]="rowCondensed"
                style="margin-left: 1px"
            >
                <div
                    ibmCol
                    class="custom-class-example"
                    style="margin-left: -31px"
                    [columnNumbers]="{ md: 5, sm: 12 }"
                >
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  
                </div>
    
                <div
                    ibmCol
                    class="custom-class-example"
                    [columnNumbers]="{ md: 3, sm: 12 }"
                    style="margin-left: 20px"
                >
                    <div style="display: flex; margin-left: 27px">
                        
                        <h3 style="margin-top: -4px">86</h3>
                    </div>
                    <div style="display: flex; margin-left: 27px">
                       
                        <p style="margin-top: -4px">Score</p>
                    </div>
                   
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div
            ibmRow
            [gutter]="gutter"
            [leftGutter]="leftGutter"
            [rightGutter]="rightGutter"
            [condensed]="rowCondensed"
            style="margin-right: 40px"
        >
            

            <div ibmGrid [condensed]="gridCondensed">
                <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
                    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 3, sm: 12 }">
                        <button class="view" [ibmButton]="ibmButton" [size]="size" >Enter Phase 2</button>
                    </div>
                    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 3, sm: 12 }">
                        <button class="model" [ibmButton]="ibmButton" [size]="size" >See performance</button>
                    </div>
                </div>
            </div>

            <!-- <div
                ibmCol
                class="custom-class-example"
                style="margin-bottom: -31px"
                [columnNumbers]="{ md: 1, sm: 12 }"
            >
                <button
                    class="btn"
                    [ibmButton]="primary"
                    [size]="'sm'"
                    
                >
                   See performance
                </button>
            </div> -->
        </div>
    </ibm-tile>
    
    
</div>












