
.btn{
    display: flex;
    margin-right: -16px;
    margin-left: auto;
    margin-top: 20px !important;
    margin-bottom: 18px;
}
.view{
    margin: 0px !important;
    display: flex;
    height: 34px;
    background-color: #383838;
    font-size: 13px;
white-space: nowrap;
width: 100%;
 
   }
   .model{
    margin: 0px !important;
    display: flex;
    height: 34px;
    font-size: 13px;
//    margin-right: -31px;
   white-space: nowrap;
   width: 100%;
  
}

@media (min-width: 42rem){
.bx--grid {
     padding-left: 1rem; 
    padding-right: 2rem;
}
}

.gridedit{
    padding-left: 0rem;
    padding-right: 2rem;
}

.tile{
    height: 100%;
    display: flex;
    width: 100%;
    padding: 0px;
    flex-direction: column;
    justify-content: space-between;
     position: relative;
     margin-bottom: 6px;    
     margin-top: 10px;
}
