<button [ibmButton]="ibmButton" [size]="size" (click)="toStepOne()" [disabled]="!isChallengeAccepted || phasesSubmissionComplete">
  Submit model<svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
</button>
<br />

<div *ngIf="!isChallengeAccepted">
  <p>Accept this challenge first to submit a model.</p>
</div>

<div ibmGrid [condensed]="gridCondensed">
  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
    <div ibmCol *ngFor="let model of challengeSubmissionData" class="custom-class-example"
      [columnNumbers]="{'md': 4, 'sm': 12}">
      <ibm-tile style="margin-bottom: 6px; margin: 10px;">
        <div style="display: flex;justify-content: center;align-items: center;">
          <div>
            <p style="font-size: 20px;">{{model?.modelName}}</p>
          </div>
          <div style="margin-left: auto;align-items: center;display: flex;">
            <svg icon ibmIconEdtLoop16></svg>
            <p>result</p>
          </div>
        </div>
        <div ibmGrid [condensed]="gridCondensed">
          <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed"
            style="margin-left: 1px;">
            <div ibmCol class="custom-class-example" style="margin-left: -31px;" [columnNumbers]="{ md: 7, sm: 12 }">
              {{model?.modelDescription}}</div>

            <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
              <div style="display: flex; margin-left: 27px;">

                <p style="margin-top: -4px;">{{model?.score}}</p>
              </div>
              <div style="display: flex; margin-left: 27px;">

                <p style="margin-top: -4px;">Score</p>
              </div>

            </div>
          </div>
        </div>
        <div ibmGrid [condensed]="gridCondensed" class="gridedit">
          <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed"
            style="margin-bottom: -13px;">
            <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }" *ngIf="model?.score>80">
              <button class="view" [ibmButton]="ibmButton" [size]="size">Enter phase 2</button>
            </div>
            <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }" *ngIf="model?.score>80">
              <button class="model" [ibmButton]="ibmButton" [size]="size" (click)="seePerformance(model?._id)">See performance</button>
            </div>
            <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }" *ngIf="model?.score<80">
              <button class="model" [ibmButton]="ibmButton" [size]="size" (click)="viewModel(model?._id)">View Model</button>
            </div>
          </div>
        </div>
      </ibm-tile>
      <p>Download Trained Model <svg icon ibmIconDownload16 (click)="downloadFile(model.modelUploadedPath)"></svg></p>
    </div>&nbsp;&nbsp;

  </div>