<div ibmGrid [condensed]="gridCondensed">
	<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
		<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
			<h3>Visiblity (Optional)</h3>
			<br />
			<p class="headline">
				The challenge will only be visible to innovators with these
				qualifications:
			</p>
			<br />
			<p>Points Earned</p>
			<div ibmGrid [condensed]="gridCondensed" style="padding-left: 15px;">
			   
				<div
					ibmRow
					[gutter]="gutter"
					[leftGutter]="leftGutter"
					[rightGutter]="rightGutter"
					[condensed]="rowCondensed"
				>
					<div
						ibmCol
						class="custom-class-example"
						[columnNumbers]="{ md: 2, sm: 12 }"
					>
					<ibm-number
					[label]="Min"
					[helperText]="[helperText]"
					[theme]="light"
					[min]="0"
					[max]="10"
				   
				  
					[invalid]="false"
					[invalidText]="invalidText"
				   
					[disabled]="false">
				</ibm-number>
				
					</div>
					<div
						ibmCol
						class="custom-class-example"
						[columnNumbers]="{ md: 1, sm: 12 }"
					></div><p class="to">to</p>
					<div
						ibmCol
						class="custom-class-example"
						[columnNumbers]="{ md: 1, sm: 12 }"
					></div>
					<div
						ibmCol
						class="custom-class-example"
						[columnNumbers]="{ md: 2, sm: 12 }"
					>
					<ibm-number
					[label]="Max"
					[helperText]="[helperText]"
					[theme]="light"
					[min]="0"
					[max]="10"
				   
				  
					[invalid]="false"
					[invalidText]="invalidText"
				   
					[disabled]="false">
				</ibm-number>
				
					</div>
				</div>
			</div>

			<br />
			<p>Challenges Invloves in</p>
			<div ibmGrid [condensed]="gridCondensed" style="padding-left: 15px;">
			   
				<div
					ibmRow
					[gutter]="gutter"
					[leftGutter]="leftGutter"
					[rightGutter]="rightGutter"
					[condensed]="rowCondensed"
				>
					<div
						ibmCol
						class="custom-class-example"
						[columnNumbers]="{ md: 2, sm: 12 }"
					>
					<ibm-number
					[label]="label"
					[helperText]="[helperText]"
					[theme]="light"
					[min]="0"
					[max]="10"
				   
				  
					[invalid]="false"
					[invalidText]="invalidText"
				   
					[disabled]="false">
				</ibm-number>
				
					</div>
					<div
						ibmCol
						class="custom-class-example"
						[columnNumbers]="{ md: 1, sm: 12 }"
					></div><p class="to">to</p>
					<div
					ibmCol
					class="custom-class-example"
					[columnNumbers]="{ md: 1, sm: 12 }"
				></div>
					<div
						ibmCol
						class="custom-class-example"
						[columnNumbers]="{ md: 2, sm: 12 }"
					>
					<ibm-number
					[label]="label"
					[helperText]="[helperText]"
					[theme]="light"
					[min]="0"
					[max]="10"
				   
				  
					[invalid]="false"
					[invalidText]="invalidText"
				   
					[disabled]="false">
				</ibm-number>
				
					</div>
			   </div>
	
	
			</div>
			<br />
			<p>Types of User Account</p>
			<ibm-checkbox
			checked="true"
			[hideLabel]="hideLabel"
			(change)="onChange($event)">
			Independent
		</ibm-checkbox>
		<ibm-checkbox
			checked="true"
			[hideLabel]="hideLabel"
			(change)="onChange($event)">
			Startup
		</ibm-checkbox>
		<ibm-checkbox
			checked="true"
			[hideLabel]="hideLabel"
			(change)="onChange($event)">
			Big Firm
		</ibm-checkbox>
		<br />
	   
		<div ibmGrid [condensed]="gridCondensed" style="padding-left: 15px;">
			<div
				ibmRow
				[gutter]="gutter"
				[leftGutter]="leftGutter"
				[rightGutter]="rightGutter"
				[condensed]="rowCondensed">
				<p>Accepted programming Language</p>
				  <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 6, 'sm': 12}">
					<ibm-dropdown 
					[label]="Min"
					[helperText]="helperText"
					[size]="size"
				 [invalid]="invalid"
					[invalidText]="invalidText"      
					[theme]="theme"
					placeholder="Search Language"
					[disabled]="disabled"
					(selected)="selected($event)"
					(onClose)="onClose($event)">
					<ibm-dropdown-list [items]="items"></ibm-dropdown-list>
				</ibm-dropdown>
				  </div>
				
			</div>
		 </div>
		</div>
		
		<div ibmCol class="custom-class-example1" [columnNumbers]="{ md: 4, sm: 12 }">
			<div ibmGrid [condensed]="gridCondensed"  >
				<div
					ibmRow
                    class="row_button"
					[gutter]="gutter"
					[leftGutter]="leftGutter"
					[rightGutter]="rightGutter"
					[condensed]="rowCondensed">
					<div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">

                       
                    </div>
              		<div ibmCol class="custom-class-example" style="margin-top: 450px;" [columnNumbers]="{'md': 2, 'sm': 12}">
                        <button [ibmButton]="ibmButton" disabled="true" [size]="size"> Previous&nbsp;</button>
                        
                      </div>
                      <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">

                       
                    </div>
					<div ibmCol class="custom-class-example" style="margin-top: 450px;" [columnNumbers]="{'md': 2, 'sm': 12}">

                        <button [ibmButton]="ibmButton" [size]="size" >next</button>
                    </div>
					
            	</div>
         	</div>
           
		</div>
	</div>









