.content-switcher {
    display: flex;
    // justify-content: space-evenly;
    margin-right: 0%;
    width: 35%;
    height: 3.5rem;
    margin-top: 12px;
}

.bx--col-md-3 {
    display: block;
    max-width: 41.5%;
    flex: 0 0 37.5%;
}

.bx--content-switcher {
   
    width: 100%;
    height: 2.5rem;
}

.content-switcher{
    display: flex;
    width: 100%;
    height: 3.5rem;
}

.portrait {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.userName{
    white-space: nowrap;
    // margin-left: 50px;
    margin-top: 20px;font-weight: 900;
}

.userhead{
    white-space: nowrap;
    margin-left: 50px;
    font-weight: 600;
}

.userdetail{
    white-space: nowrap;
    // margin-left: 50px;
    font-weight: 500;font-size: 14px;
}
.bio{
    width: 200px;
    // margin-left: 47px;
    
}

.link{
    white-space: nowrap;
    // margin-left: 47px;
    margin-top: 10px;
    outline: none;

}

.toaster{
    display: flex;
   
    margin-left: auto;
    margin-top: -28px;
    height: 60px;

}

.test{
    font-weight: 550;
}

.bx--tile {
    display: block;
    width: 18rem;
    min-height: 4rem;
    background-color: #f4f4f4;
    position: relative;
    padding: 1rem;
    outline: 2px solid transparent;
    outline-offset: -2px;
}

.bx--row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0rem;
    margin-left: -1rem;
}

.paragraph{
    font-size: 14px;
    margin-top: 6px;
}