<div ibmGrid [condensed]="gridCondensed">
	<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed" >
		<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 6, sm: 12 }" >
			<br />
			<h3>Challenge info</h3>
			<p> {{ challengeDetails?.description }} </p>
			<br />
		</div>
		<br />

		<!-- <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">Second column</div> -->
		<!-- <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">Third Column</div> -->
	</div>
</div>

<div ibmGrid [condensed]="gridCondensed">
	<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed" >
		<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 7, sm: 12 }" >
			<ibm-tile>
				Phase 0
				<div ibmGrid [condensed]="gridCondensed">
					<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed" >
						<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }" >Users accepted <br /><br />430</div>
						<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }" >Data Set Download <br /><br />350</div>
					</div>
				</div>
				<button class="btn" [ibmButton]="ibmButton" [size]="size">View Activity</button>
			</ibm-tile>
			<br /><br />
		</div>
	</div>
	<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
		<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 8, sm: 12 }" >
			<div style="display: flex; flex-flow: row wrap; justify-content: space-around;"
			*ngFor="let phase of challengeDetails.phases; index as i" >
				<ibm-tile class="tiles">Phase {{i+1}}<br />
					<p>model Upload</p>
					<p>300</p><br />
					<p>model trained & tested</p>
					<p>300</p><br />
					<p>model passed Scoring</p>
					<p>{{phase?.minimumModelScore}}</p><br />
					<p>Ordered List</p>
					<ol ibmList>
						<li ibmListItem>Beian Doe</li>
						<li ibmListItem>Samuel jackson</li>
						<li ibmListItem>Maria santa</li>
						<li ibmListItem>Beian Doe</li>
						<li ibmListItem>Samuel jackson</li>
					</ol>

					<div ibmGrid [condensed]="gridCondensed">
						<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
								<button class="view" [ibmButton]="ibmButton" [size]="size" >View Activity</button>
							</div>
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
								<button class="model" [ibmButton]="ibmButton" [size]="size" >View Model</button>
							</div>
						</div>
					</div>
				</ibm-tile>

				<!-- <ibm-tile class="tiles">Phase 1<br />
					<p>model Upload</p>
					<p>300</p><br />
					<p>model trained & tested</p>
					<p>300</p><br />
					<p>model passed Scoring</p>
					<p>180</p><br />
					<p>Ordered List</p>
					<ol ibmList>
						<li ibmListItem>Beian Doe</li>
						<li ibmListItem>Samuel jackson</li>
						<li ibmListItem>Maria santa</li>
						<li ibmListItem>Beian Doe</li>
						<li ibmListItem>Samuel jackson</li>
					</ol>

					<div ibmGrid [condensed]="gridCondensed">
						<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed" >
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }" >
								<button class="view" [ibmButton]="ibmButton" [size]="size" >View Activity</button>
							</div>
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }" >
								<button class="model" [ibmButton]="ibmButton" [size]="size" >View Model</button>
							</div>
						</div>
					</div>
				</ibm-tile>

				<ibm-tile class="tiles">Phase 1 <br />
					<p>model Upload</p>
					<p>300</p><br />
					<p>model trained & tested</p>
					<p>300</p><br />
					<p>model passed Scoring</p>
					<p>180</p><br />
					<p>Ordered List</p>
					<ol ibmList>
						<li ibmListItem>Beian Doe</li>
						<li ibmListItem>Samuel jackson</li>
						<li ibmListItem>Maria santa</li>
						<li ibmListItem>Beian Doe</li>
						<li ibmListItem>Samuel jackson</li>
					</ol>

					<div ibmGrid [condensed]="gridCondensed">
						<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }" >
								<button class="view" [ibmButton]="ibmButton" [size]="size" >View Activity</button>
							</div>
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
								<button class="model" [ibmButton]="ibmButton" [size]="size">View Model</button>
							</div>
						</div>
					</div>
				</ibm-tile> -->
			</div>
		</div>
	</div>
</div>



