.bx--btn{
    margin: auto;
    display: flex;
    background-color: #383838;
    margin-right: -15px;
    margin-bottom: -15px;
    // margin-top:20px !important;
   }

   .view{
    margin: auto;
    display: flex;
    height: 34px;
    background-color: #383838;
   margin-right: 0px;
white-space: nowrap;
    margin-top:20px !important;
   }
.model{
    margin: auto;
    display: flex;
    height: 34px;
    margin-right: 100px;
   margin-right: -31px;
    margin-top:20px !important;
    background-color: #4162FD;
    width: 135px;
    white-space: nowrap;
}
 
.bx--tile {
    display: block;
    min-width: 16rem;
    min-height: 4rem;
    background-color: #f4f4f4;
    position: relative;
    padding: 1rem;
    outline: 2px solid transparent;
    outline-offset: -2px;
}

@media (min-width: 42rem){
.bx--grid {
    padding-left: 1rem;
    padding-right: 2rem;
}}

.button-left{
    padding-left: 0rem;
}

.numbers{
    margin-left: 22px;
    align-items: center;
    font-size: 14px;
}

.list{
    margin-left: 46px;
}

.icon_align{
    align-items: center;
    display: flex;
}

.bx--data-table th {
    //  padding-left: 0rem !important; 
 padding-right: 0rem !important; 
    // vertical-align: top;
    text-align: left;
}

.bx--pagination__left,
.bx--pagination__right {
  display: flex;
  height: 100%;
  margin-left: auto;
  align-items: center;
  background-color: #f4f4f4;
}
.gridchange{
    margin-left: 0px;
}
.bx--fieldset {
    margin-bottom: 0rem;
}