<div ibmGrid [condensed]="gridCondensed">
	<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
		<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 6, sm: 12 }">
			<br />
			<h3 style="margin-left: 16px;">Challenge Info</h3>
			<p style="margin-left: 17px;font-size: 13px;">{{ challengeDetails?.description }}</p>
			<br />
		</div>
	</div>

	<div ibmGrid [condensed]="gridCondensed" class="gridchange">
		<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
			<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 7, sm: 12 }">
				<ibm-tile>
					<p style="font-size: 20px;">Phase 0</p>
					<div ibmGrid [condensed]="gridCondensed" style="margin-left: -16px;"><br />
						<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
							[condensed]="rowCondensed" style="margin-left: 0px;">
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }"> <svg icon
									ibmIconUserMultiple20></svg>&nbsp;Users accepted <br />
								<p class="numbers" style="margin-top:6px;">{{challengeDetails?.acceptedUsersCount}}</p>
							</div>
							<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }"><svg icon
									ibmIconDownload20></svg>&nbsp;Data Set Download <br />
								<p class="numbers" style="margin-top:6px;">{{challengeDetails?.downloadsCount}}</p>
							</div>
						</div>
					</div>
					<button class="bx--btn bx--btn--primary bx--btn--sm" type="button">
						View Activity
					</button>
				</ibm-tile>
				<br /><br />
			</div>
		</div>
		<div style="display: flex; flex-wrap: wrap; gap: 46px;margin-left: -1px;">
			<div class="custom-class-example" style="width: 32%;"
				*ngFor="let phase of challengeDetails?.phases; index as i">
				<div style="display: flex; flex-flow: row wrap; justify-content: space-around; margin-right: 10px;">
					<ibm-tile class="tiles">
						<p style="font-size: 20px;">Phase {{ i }}</p>
						<br />
						<div class="icon_align">
							<svg icon ibmIconUpload20></svg>&nbsp;
							<p>Models Uploaded</p>
						</div>
						<p class="numbers">{{ phaseOneSubmission }}</p>
						<br />
						<div class="icon_align">
							<svg icon ibmIconChemistry20></svg>&nbsp;
							<p>Models trained & tested</p>
						</div>
						<p class="numbers">{{ phaseOneSubmission }}</p>
						<br />
						<div class="icon_align">
							<svg icon ibmIconCheckmarkOutline20></svg>&nbsp;
							<p>Models passed Scoring</p>
						</div>
						<p class="numbers">{{ phase?.passingScore || '10' }}</p>
						<br />

						<p class="numbers">{{ phase?.minimumModelScore }}</p>
						<br />
						<div class="icon_align">
							<svg icon ibmIconTrophy20></svg>&nbsp;	
							<p>Top 5 performing models</p>
						</div>
						<p *ngIf="submissionChallengeDetails?.length == 0">No records found</p>
						<ol ibmList class="list">
							<li ibmListItem *ngFor="let data of submissionChallengeDetails">
								<div style="display: flex;">
									<a href="#" ibmLink> {{ data?.innovatorId?.fullName }}</a>
									<p style="font-size: 14px;margin-top: -2px;margin: auto;">96</p>
								</div>
							</li>
						</ol>

						<div ibmGrid [condensed]="gridCondensed" class="button-left" style="margin-bottom: -17px;">
							<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
								[condensed]="rowCondensed">
								<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
									<button class="view" [ibmButton]="ibmButton" [size]="size">
										View Activity
									</button>
								</div>
								<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
									<button class="model" [ibmButton]="ibmButton" [size]="size">
										View Model
									</button>
								</div>
							</div>
						</div>
					</ibm-tile>
				</div>

			</div>

			<div style="width: 100%;margin-left:-18px;" ibmGrid [condensed]="gridCondensed" class="gridchange">
				<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
					[condensed]="rowCondensed">
					<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 8, sm: 12 }">
						<ibm-table-container>
							<br />
							<h4 ibmTableHeaderTitle>Leaderboard</h4>
							<ibm-table-header>
								<p>Challenge Leaderboard</p>

								<fieldset class="bx--fieldset">
									<legend class="bx--label">Phases</legend>
									<div class="bx--form-item">
										<div class="bx--radio-button-group ">
											<div class="bx--radio-button-wrapper"
												*ngFor="let phase of challengeDetails?.phases; index as i">
												<input id="radio-button-102gt4bgc47-{{i}}" class="bx--radio-button" (checked)="selectedPhase.phaseId == phase.phaseId"
													type="radio" (click)="selectPhase(phase.phaseId, i)" />
												<label for="radio-button-102gt4bgc47-{{i}}" class="bx--radio-button__label">
													<span class="bx--radio-button__appearance"></span>
													<span class="bx--radio-button__label-text">Phase {{i}}</span>
												</label>
											</div>
										</div>
									</div>
								</fieldset>



							</ibm-table-header>
							<table class="bx--data-table">
								<thead>
									<tr>
										<th>
											<span class="bx--table-header-label">Rank</span>
										</th>
										<th>
											<span class="bx--table-header-label">Name</span>
										</th>
										<th>
											<span class="bx--table-header-label">P1 Score</span>
										</th>
										<th>
											<span class="bx--table-header-label">P2 Score</span>
										</th>
										<th>
											<span class="bx--table-header-label">P3 Score</span>
										</th>
										<th>
											<span class="bx--table-header-label"></span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let model of leaderboardData; index as i">
										<td>{{ i + 1 }}</td>
										<td>{{ model?.innovatorId?.fullName }}</td>
										<td>{{ model.score }}</td>
										<td>{{ model.score }}</td>
										<td>{{ model.score }}</td>
										<td>view model</td>
									</tr>
									<tr *ngIf="leaderboardData?.length == 0">
										No records found
									</tr>
								</tbody>
							</table>
							<br />

							<div class="bx--pagination" data-pagination>
								<div class="bx--pagination__right">
									<label id="select-id-pagination-page-label" class="bx--pagination__text"
										for="select-id-pagination-page">
										pages 1
									</label>
									<button class="bx--pagination__button bx--pagination__button--backward" tabindex="0"
										data-page-backward aria-label="previous page">
										<svg focusable="false" preserveAspectRatio="xMidYMid meet"
											style="will-change: transform;" xmlns="http://www.w3.org/2000/svg"
											class="bx--pagination__nav-arrow" width="20" height="20" viewBox="0 0 32 32"
											aria-hidden="true">
											<path d="M19 23L11 16 19 9 19 23z"></path>
										</svg>
									</button>
									<button class="bx--pagination__button bx--pagination__button--forward" tabindex="0"
										data-page-forward aria-label="next page">
										<svg focusable="false" preserveAspectRatio="xMidYMid meet"
											style="will-change: transform;" xmlns="http://www.w3.org/2000/svg"
											class="bx--pagination__nav-arrow" width="20" height="20" viewBox="0 0 32 32"
											aria-hidden="true">
											<path d="M13 9L21 16 13 23 13 9z"></path>
										</svg>
									</button>
								</div>
							</div>
						</ibm-table-container>
					</div>
				</div>
			</div>
		</div>