<div ibmGrid [condensed]="gridCondensed">
	<div
		ibmRow
		[gutter]="gutter"
		[leftGutter]="leftGutter"
		[rightGutter]="rightGutter"
		[condensed]="rowCondensed"
	>
		<div
			ibmCol
			class="custom-class-example"
			[columnNumbers]="{ md: 6, sm: 12 }"
			style="margin-left: 20px;"
		>
		<br />
			<h3>Challenge Info</h3>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's standard dummy
				text ever since the 1500s, when an unknown printer took a galley
				of type and scrambled
			</p>
			<br />
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's standard dummy
				text ever since the 1500s, when an unknown printer took a galley
				
			</p>
			<br />
		</div>
		<br />

		<!-- <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">Second column</div> -->
		<!-- <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">Third Column</div> -->
	</div>
</div>

<div ibmGrid [condensed]="gridCondensed">
	<div
		ibmRow
		[gutter]="gutter"
		[leftGutter]="leftGutter"
		[rightGutter]="rightGutter"
		[condensed]="rowCondensed"
	>
		<div
			ibmCol
			class="custom-class-example"
			[columnNumbers]="{ md: 8, sm: 12 }"
		>
			<ibm-tile>
			<p style="font-size: 18px;">	Phase 0</p>
<br /><br />
				<div ibmGrid [condensed]="gridCondensed">
					<div
						ibmRow
						[gutter]="gutter"
						[leftGutter]="leftGutter"
						[rightGutter]="rightGutter"
						[condensed]="rowCondensed"
					>
						<div
							ibmCol
							class="custom-class-example"
							[columnNumbers]="{ md: 2, sm: 12 }"
							style="margin-left: 20px;"
						>
						<p class="date" style="display: flex; align-items: center">
							<svg icon ibmIconTime16></svg>
							<span>Users accepted  </span>
						</p>
							<br />
							<p style="margin-left: 12px;">430</p>
						</div>
						<div
							ibmCol
							class="custom-class-example"
							[columnNumbers]="{ md: 2, sm: 12 }"
						>
						<p class="date" style="display: flex; align-items: center">
							<svg icon ibmIconTime16></svg>
							<span>Data Set Download  </span>
						</p>
							 <br />
							 <p style="margin-left: 12px;">350</p>
						</div>
					</div>
				</div>

				<button class="btn" [ibmButton]="ibmButton" [size]="size">
					View Activity
				</button>
			</ibm-tile>
			<br /><br />
		</div>
	</div>
</div>
	<div
		ibmRow
		[gutter]="gutter"
		[leftGutter]="leftGutter"
		[rightGutter]="rightGutter"
		[condensed]="rowCondensed"
	>
		<div
			ibmCol
			class="custom-class-example"
			[columnNumbers]="{ md: 8, sm: 12 }"
		>
			<div
				style="
					display: flex;
				
					justify-content: space-around;
				"
			>
				<ibm-tile class="tiles">
					<p style="font-size: 18px;">	Phase 1</p>
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Models Uploaded  </span>				
					</h6>
					<p style="margin-left: 12px;">300</p>
					
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Models trained & tested</span>				
					</h6>
					
					<p style="margin-left: 12px;">280</p>
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Models passed Scoring</span>				
					</h6>
					
					<p style="margin-left: 12px;">180</p>
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Top 5 performing models</span>				
					</h6>
					<br />
					<div ibmGrid [condensed]="gridCondensed">
						<div
							ibmRow
							[gutter]="gutter"
							[leftGutter]="leftGutter"
							[rightGutter]="rightGutter"
							[condensed]="rowCondensed"
							style="margin-left: 25px;"
							>
							  <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 6, 'sm': 12}"><ol ibmList >
								<li ibmListItem style="color: blue;">Beian Doe</li>
								<li ibmListItem style="color: blue;">Samuel jackson</li>
								<li ibmListItem style="color: blue;">Maria santa</li>
								<li ibmListItem style="color: blue;">Beian Doe</li>
								<li ibmListItem style="color: blue;"> Samuel jackson</li>
							</ol></div>
							<div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">
								<div>
									<div><p style="font-size: 13px;">96</p></div>
									<div><p style="font-size: 13px;">95</p></div>
									<div><p style="font-size: 13px;">93</p></div>
									<div><p style="font-size: 13px;">93</p></div>
									<div><p style="font-size: 13px;">95</p></div>
								</div>
							</div>
							
						</div>
					 </div>

					

					<div ibmGrid [condensed]="gridCondensed">
						<div
							ibmRow
							[gutter]="gutter"
							[leftGutter]="leftGutter"
							[rightGutter]="rightGutter"
							[condensed]="rowCondensed"
						>
							<div
								ibmCol
								class="custom-class-example"
								[columnNumbers]="{ md: 4, sm: 12 }"
							>
								<button
									class="view"
									[ibmButton]="ibmButton"
									[size]="size"
								>
									View Activity
								</button>
							</div>
							<div
								ibmCol
								class="custom-class-example"
								[columnNumbers]="{ md: 4, sm: 12 }"
							>
								<button
									class="model"
									[ibmButton]="ibmButton"
									[size]="size"
								>
									View Model
								</button>
							</div>
						</div>
					</div>
				</ibm-tile>
				&nbsp;&nbsp;
				<ibm-tile class="tiles">
					<p style="font-size: 18px;">	Phase 2</p>
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Models Uploaded  </span>				
					</h6>
					<p style="margin-left: 12px;">180</p>
					
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Models trained & tested</span>				
					</h6>
					
					<p style="margin-left: 12px;">113</p>
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Models passed Scoring</span>				
					</h6>
					
					<p style="margin-left: 12px;">31</p>
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Top 5 performing models</span>				
					</h6>
					<br />
					<div ibmGrid [condensed]="gridCondensed">
						<div
							ibmRow
							[gutter]="gutter"
							[leftGutter]="leftGutter"
							[rightGutter]="rightGutter"
							[condensed]="rowCondensed"
							style="margin-left: 25px;"
							>
							  <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 6, 'sm': 12}"><ol ibmList >
								<li ibmListItem style="color: blue;">Beian Doe</li>
								<li ibmListItem style="color: blue;">Samuel jackson</li>
								<li ibmListItem style="color: blue;">Maria santa</li>
								<li ibmListItem style="color: blue;">Beian Doe</li>
								<li ibmListItem style="color: blue;"> Samuel jackson</li>
							</ol></div>
							<div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">
								<div>
									<div><p style="font-size: 13px;">96</p></div>
									<div><p style="font-size: 13px;">95</p></div>
									<div><p style="font-size: 13px;">93</p></div>
									<div><p style="font-size: 13px;">93</p></div>
									<div><p style="font-size: 13px;">95</p></div>
								</div>
							</div>
							
						</div>
					 </div>

					

					<div ibmGrid [condensed]="gridCondensed">
						<div
							ibmRow
							[gutter]="gutter"
							[leftGutter]="leftGutter"
							[rightGutter]="rightGutter"
							[condensed]="rowCondensed"
						>
							<div
								ibmCol
								class="custom-class-example"
								[columnNumbers]="{ md: 4, sm: 12 }"
							>
								<button
									class="view"
									[ibmButton]="ibmButton"
									[size]="size"
								>
									View Activity
								</button>
							</div>
							<div
								ibmCol
								class="custom-class-example"
								[columnNumbers]="{ md: 4, sm: 12 }"
							>
								<button
									class="model"
									[ibmButton]="ibmButton"
									[size]="size"
								>
									View Model
								</button>
							</div>
						</div>
					</div>
				</ibm-tile>
				&nbsp;&nbsp;
				<ibm-tile class="tiles">
					<p style="font-size: 18px;">	Phase 3</p>
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Models Uploaded  </span>				
					</h6>
					<p style="margin-left: 12px;">300</p>
					
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Models trained & tested</span>				
					</h6>
					
					<p style="margin-left: 12px;">280</p>
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Models passed Scoring</span>				
					</h6>
					
					<p style="margin-left: 12px;">180</p>
					<br />
					<h6 class="date" style="display: flex; align-items: center">
						<svg icon ibmIconTime16></svg>
						<span>Top 5 performing models</span>				
					</h6>
					<br />
					<div ibmGrid [condensed]="gridCondensed">
						<div
							ibmRow
							[gutter]="gutter"
							[leftGutter]="leftGutter"
							[rightGutter]="rightGutter"
							[condensed]="rowCondensed"
							style="margin-left: 25px;"
							>
							  <div ibmCol class="custom-class-example" [columnNumbers]="{'md': 6, 'sm': 12}"><ol ibmList >
								<li ibmListItem style="color: blue;">Beian Doe</li>
								<li ibmListItem style="color: blue;">Samuel jackson</li>
								<li ibmListItem style="color: blue;">Maria santa</li>
								<li ibmListItem style="color: blue;">Beian Doe</li>
								<li ibmListItem style="color: blue;"> Samuel jackson</li>
							</ol></div>
							<div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">
								<div>
									<div><p style="font-size: 13px;">96</p></div>
									<div><p style="font-size: 13px;">95</p></div>
									<div><p style="font-size: 13px;">93</p></div>
									<div><p style="font-size: 13px;">93</p></div>
									<div><p style="font-size: 13px;">95</p></div>
								</div>
							</div>
							
						</div>
					 </div>

					

					<div ibmGrid [condensed]="gridCondensed">
						<div
							ibmRow
							[gutter]="gutter"
							[leftGutter]="leftGutter"
							[rightGutter]="rightGutter"
							[condensed]="rowCondensed"
						>
							<div
								ibmCol
								class="custom-class-example"
								[columnNumbers]="{ md: 4, sm: 12 }"
							>
								<button
									class="view"
									[ibmButton]="ibmButton"
									[size]="size"
								>
									View Activity
								</button>
							</div>
							<div
								ibmCol
								class="custom-class-example"
								[columnNumbers]="{ md: 4, sm: 12 }"
							>
								<button
									class="model"
									[ibmButton]="ibmButton"
									[size]="size"
								>
									View Model
								</button>
							</div>
						</div>
					</div>
				</ibm-tile>
			</div>
		</div>
	</div>




