.challTitle{
    margin-left: 630px;font-size: 10px;margin-top: -20px;margin-bottom: -8px;
   
}

@media screen and (max-width: 1024px) {
  
	.challTitle{
        margin-left: 460px;font-size: 10px;margin-top: -20px;margin-bottom: -8px;
    }
    
  }

 