<ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
	Description
	<p style="margin-left: 473px; font-size: 10px; margin-top: -20px; margin-bottom: -8px;">0/1000</p>
	<textarea style="width: 90%" ibmTextArea [invalid]="invalid" [(ngModel)]="stepTwo.description" [theme]="theme"
		[rows]="7" [cols]="cols" aria-label="textarea"></textarea>
</ibm-label>
<div *ngIf="descriptionError">
	<p><span style="font-size: x-small; color: red">Data Description for this model is required</span></p>
</div>

<ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
	Approach Taken
	<p style="margin-left: 473px; font-size: 10px; margin-top: -20px; margin-bottom: -8px;">0/1000</p>
	<textarea style="width: 90%" ibmTextArea [invalid]="invalid" [(ngModel)]="stepTwo.approach" [theme]="theme"
		[rows]="7" [cols]="cols" aria-label="textarea"></textarea>
</ibm-label>
<div *ngIf="approachError">
	<p><span style="font-size: x-small; color: red">Approach taken for this model is required</span></p>
</div>

<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }">
	<ibm-dropdown [label]="Min" [helperText]="helperText" [size]="size" [invalid]="invalid" [invalidText]="invalidText"
		[theme]="theme" placeholder="Search Language" [disabled]="disabled" (selected)="selected($event)"
		(onClose)="onClose($event)">
		<ibm-dropdown-list [items]="language"></ibm-dropdown-list>
	</ibm-dropdown>
</div>
<div *ngIf="languageError">
	<p><span style="font-size: x-small; color: red">Programming language for this model is required</span></p>
</div>

<div style="margin-left: auto; display: flex; justify-content: flex-end">
	<button class="bx--btn bx--btn--secondary" type="button" (click)="previous()">Back</button>
	&nbsp;
	<button [ibmButton]="ibmButton" [size]="size" (click)="next()">Next</button>
</div>