<div ibmGrid [condensed]="gridCondensed">
  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 2, sm: 12 }">
      <div class="bx--form-item" style="margin-top: 10%;">
        <label for="text-input-3" class="bx--label">Username</label>
        <input id="text-input-3" type="text" class="bx--text-input" [(ngModel)]="signupDetails.fullName"
          placeholder="e.g. John Doe" />
      </div>

      <div class="bx--form-item">
        <label for="text-input-3" class="bx--label">Email</label>
        <input id="text-input-3" type="text" class="bx--text-input" [(ngModel)]="signupDetails.email"
          placeholder="e.g. username@ibm.com" />
      </div>

      <div class="bx--form-item">
        <label for="text-input-3" class="bx--label">Password</label>
        <input id="text-input-3" type="password" class="bx--text-input" [(ngModel)]="signupDetails.password"
          placeholder="********" />
      </div>

      <!-- <div class="bx--form-item">
        <label for="text-input-3" class="bx--label">Confirm Password</label>
        <input id="text-input-3" type="password" class="bx--text-input" [(ngModel)]="signupDetails.confirmPassword" placeholder="********" />
      </div> -->

      <div class="bx--form-item">
        <label for="text-input-3" class="bx--label">Register As</label>
        <ibm-dropdown [label]="Min" [helperText]="helperText" [size]="size" [invalid]="invalid"
          [invalidText]="invalidText" [theme]="theme" placeholder="Search User Role" (selected)="selected($event)"
          (onClose)="onClose($event)">
          <ibm-dropdown-list [items]="registerAs"></ibm-dropdown-list>
        </ibm-dropdown>
        <div *ngIf="programmingLanguageError">
          <p><span style="font-size: x-small; color: red">Programming language is required</span></p>
        </div>
      </div>

      <div class="bx--form-item">
        <label for="text-input-3" class="bx--label">Bio</label>
        <input id="text-input-3" type="text" class="bx--text-input" [(ngModel)]="signupDetails.bio"
          placeholder="I am a..." />
      </div>

      <div class="bx--form-item">
        <label for="text-input-3" class="bx--label">Experience</label>
        <input id="text-input-3" type="text" class="bx--text-input" [(ngModel)]="signupDetails.experience"
          placeholder="in years" />
      </div>
      <br />
      <div class="bx--form-item">
        <button class="bx--btn bx--btn--primary" type="button" (click)="signUp()">Sign Up</button>
      </div>
      <div class="bx--form-item">
        <p>Already have an account. <a style="cursor: pointer;" (click)="login()">Sign-In</a> instead</p>
      </div>
    </div>
    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 4, sm: 12 }">
      <img src="assets/tab.png" height="500px">
    </div>


  </div>
</div>