.bx--toast-notification--success {
    border-left: 3px solid #42be65;
    background: #393939;
    margin-left: 1000px;
    margin-top: 100px;
    position: absolute;
    top: -36px;
    left: 32px;
}

.bx--toast-notification--failure {
    border-left: 3px solid #ff0000;
    background: #393939;
    margin-left: 1000px;
    margin-top: 100px;
    position: absolute;
    top: -36px;
    left: 32px;
}

.imglogo {
    // margin-left: -57px;
    // height: 48px;
}

.logoimg{
    display: flex;
    width: 62.5%;
    margin: 0 auto;
}

.images{
    display: flex;
    align-items: center;
}

.box{
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 0 auto;
    width: 55%;
    border-radius: 5px;
}

.heading{
    margin-left: 150px;
    margin-top: 21px;
}