.Step2btn_next{
    margin-top: 250px !important;
    margin: auto;
    display: flex;
    

}
.Step2btn_pre{
    margin-top: 250px !important;
    margin: auto;
    display: flex;
    margin-right: 0px;
background-color: #383838;border: none;
}

.drag{
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

.link{
    color: #4263FF;
    font-size: 16px;

}


.bx--number__controls {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}