<app-header></app-header>
<br />
<br />
<div class="bx--grid">
  <div class="bx--row line-padding">
    <div class="bx--col-md-1" style="padding-left: 8%;">
      <svg icon ibmIconArrowLeft16 (click)="navigateBack()"></svg>
    </div>
    <div class="bx--col-md-4">
      <ibm-breadcrumb [noTrailingSlash]="noTrailingSlash">
        <ibm-breadcrumb-item class="navigation">
          Browse
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item class="navigation">
          {{challengeDetails?.title}}
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item class="navigation">
          {{modelDetails?.modelName}}
        </ibm-breadcrumb-item>
      </ibm-breadcrumb>
    </div>
  </div>
  <br />
  <br />
  <div class="bx--row line-padding">
    <div class="bx--col-md-1" style="padding-left: 8%;"></div>
    <div class="bx--col-md-7">
      <div style="display: flex;" *ngIf="!isEdit">
        <div>
          <p style="font-size: 40px; font-weight: 100;">
            {{ modelDetails?.modelName }}
          </p>
        </div>
        <div style="margin-top: 10px; margin-left: 8px;">
          <svg icon ibmIconEdit20 (click)="editModelName()"></svg>
        </div>
      </div>

      <div style="display: flex;" *ngIf="isEdit">
        <div>
          <input style="width: 100%; margin-top: 10px;" ibmTextArea [invalid]="invalid" ng-blur="saveModelName()"
            [(ngModel)]="set_new_modelName" [theme]="theme" aria-label="textarea" />
        </div>
        <div style="margin-top: 10px; margin-left: 8px;">
          <button (click)="saveModelName()">Save</button>
        </div>
      </div>

      <br />
      <br />
      <p style="font-size: 16px; font-weight: 600;">
        Phase {{submissionIndex}}: Current Status
      </p>
      <br />

      <div style="display: flex; gap: 20px; flex-wrap: wrap;">
        <ibm-tile>
          <p class="head"><svg icon ibmIconCloudUpload32></svg></p>
          <p class="head">
            Upload model
            <br />
            to data
          </p>
          <p class="discrip">
            Estimated time remaining
            <br />
            5 min
          </p>

          <h6 class="bx--btn bx--btn--ghost" type="button" (click)="logout()">
            <svg class="svg" icon ibmIconCheckmarkOutline20></svg>
            &nbsp;
            <p style="color: black;">Comlpete</p>
          </h6>
        </ibm-tile>
        <ibm-tile>
          <p class="head"><svg icon ibmIconConcept32></svg></p>
          <p class="head">
            Train model
            <br />
            to data
          </p>
          <p class="discrip">
            Estimated time remaining
            <br />
            5 min
          </p>
          <h6 class="bx--btn bx--btn--ghost" type="button" (click)="logout()">
            <svg class="svg" icon ibmIconCheckmarkOutline20></svg>
            &nbsp;
            <p style="color: black;">Comlpete</p>
          </h6>
        </ibm-tile>
        <ibm-tile>
          <p class="head"><svg icon ibmIconChemistry32></svg></p>
          <p class="head">
            Test model
            <br />
            to data
          </p>
          <p class="discrip">
            Estimated time remaining
            <br />
            5 min
          </p>
          <h6 class="bx--btn bx--btn--ghost" type="button" (click)="logout()">
            <ibm-inline-loading [loadingText]="loadingText" [successText]="successText" (onSuccess)="onSuccess($event)">
            </ibm-inline-loading>
            &nbsp;
            <p style="color: black;">Comlpete</p>
          </h6>
        </ibm-tile>
        <ibm-tile>
          <p class="head"><svg icon ibmIconIdea32></svg></p>
          <p class="head">
            Genrate model
            <br />
            performance score
          </p>
          <p class="discrip">
            Estimated time remaining
            <br />
            5 min
          </p>
          <h6 class="bx--btn bx--btn--ghost" type="button" (click)="logout()">
            <svg icon ibmIconRadioButton20></svg>
            &nbsp;
            <p style="color: black;">Queued</p>
          </h6>
        </ibm-tile>
      </div>
      <br />
      <div class="border-div" *ngIf="showCongratDiv">
        &nbsp;&nbsp;
        <h5 style="margin-left: 8px;">Congratuations!</h5>
        &nbsp;&nbsp;
        <p style="margin-left: 8px;">
          Your model has met the minimum performance score
        </p>
        <br />
        &nbsp;
        <button [ibmButton]="ibmButton" [size]="size" (click)="seePerformance()">
          View Score Breakdown<svg class="bx--btn__icon" ibmIconArrowRight20 size="20"></svg>
        </button>
        <br />
        <br />
        &nbsp;
        <div *ngIf="modelDetails?.score>60 && submissionIndex<allSubmitOfChallenge.length">
          <button [ibmButton]="ibmButton" [size]="size" style="width: 225px; margin-left: 7px;" (click)="enterNextPhase()">
            Enter phase {{submissionIndex+1}}<svg class="bx--btn__icon" ibmIconArrowRight20 size="20"></svg>
          </button>
        </div>
      </div>

      <br />
      <br />
      <ibm-accordion>
        <ibm-accordion-item title="Phase {{submissionIndex}} Overview" (selected)="selected($event)">
          <h5>Description</h5>
          <p>{{ modelDetails?.modelDescription }}</p>
          <br />
          <h5>Approach taken</h5>
          <p>{{ modelDetails?.approch }}</p>
          <br />
          <ibm-table-container>
            <br />
            <ibm-table-header>
              <h4 ibmTableHeaderTitle>Leaderboard</h4>
            </ibm-table-header>
            <table class="bx--data-table">
              <thead>
                <tr>
                  <th>
                    <span class="bx--table-header-label">Rank</span>
                  </th>
                  <th>
                    <span class="bx--table-header-label">Name</span>
                  </th>
                  <th>
                    <span class="bx--table-header-label">Phase</span>
                  </th>
                  <th>
                    <span class="bx--table-header-label">Score</span>
                  </th>
                  <th>
                    <span class="bx--table-header-label">Date</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>rank</td>
                  <td>{{ modelDetails?.innovatorId?.fullName }}</td>
                  <td>Phase {{submissionIndex}}</td>
                  <td>{{ modelDetails?.score }}</td>
                  <td>{{ getDate(modelDetails?.createdAt) }}</td>
                </tr>
              </tbody>
            </table>
          </ibm-table-container>
          <p>
            only model that have overall score of 80% above will be invited to
            Phase {{submissionIndex+1}}.
          </p>
        </ibm-accordion-item>
        <div *ngIf="submissionIndex<allSubmitOfChallenge.length" >
          <ibm-accordion-item title="Next phase ({{submissionIndex+1}} to {{allSubmitOfChallenge.length}})" (selected)="selected($event)">
            <h5>Requirment</h5>
            <p>{{ challengeDetails?.Objective }}</p>
            <br />
            <h5>Accuracy:80%</h5>
            <br /><br />
            <h5>Data</h5>
            Dataset size: 1000 records
            <h6></h6>
            <img style="height: 125px; width: 300px;" src="http://localhost:3000/{{
                (challengeDetails?.phases)[0].dataVisualFile
              }}" />
            <br />
            <h6>Sample Data Set</h6>
            <p *ngFor="
                let data of (challengeDetails?.phases)[0]?.sampleDataFile;
                index as i
              ">
              Download Dataset {{ i + 1 }}
              <svg icon ibmIconDownload16 (click)="downloadFile(data[i])"></svg>
            </p>
            <br />
            <h5>Model</h5>
            <p>{{ modelDetails?.modelDescription }}</p>
  
            <fieldset class="bx--fieldset">
              <div class="bx--form-item">
                <div class="bx--radio-button-group bx--radio-button-group--vertical">
                  <div class="bx--radio-button-wrapper">
                    <input id="radio-button-b4twcexavc-1" class="bx--radio-button" type="radio" value="red"
                      name="radio-button--vertical" tabindex="0" checked />
                    <label for="radio-button-b4twcexavc-1" class="bx--radio-button__label">
                      <span class="bx--radio-button__appearance"></span>
                      <span class="bx--radio-button__label-text">
                        Trained model
                      </span>
                    </label>
                  </div>
                  <div class="bx--radio-button-wrapper">
                    <input id="radio-button-b4twcexavc-2" class="bx--radio-button" type="radio" value="green"
                      name="radio-button--vertical" tabindex="0" />
                    <label for="radio-button-b4twcexavc-2" class="bx--radio-button__label">
                      <span class="bx--radio-button__appearance"></span>
                      <span class="bx--radio-button__label-text">
                        Upload Modified trained model
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <button [ibmButton]="ibmButton" [size]="size" (click)="enterNextPhase()" [disabled]="submissionIndex==allSubmitOfChallenge.length-1" >
              Enter phase {{submissionIndex+1}}<svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
            </button>
          </ibm-accordion-item>
        </div>
      </ibm-accordion>
    </div>
  </div>
</div>