@import "../../styles.scss";

.discrip {
	color: gray;
	font-size: 10px;
	text-align: center;
}
.head {
	font-weight: 400;
	font-size: 15px;
	text-align: center;
}

.bx--tile {
	display: block;
	min-width: 8rem;
	min-height: 4rem;
	background-color: #f4f4f4;
	position: relative;
	border-top: 4px solid #40ba61;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
	padding: 1rem;
	outline: 2px solid transparent;
	outline-offset: -2px;
}

.bx--tile_fail {
	display: block;
	min-width: 8rem;
	min-height: 4rem;
	background-color: #f4f4f4;
	position: relative;
	border-top: 4px solid #ff0000;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
	padding: 1rem;
	outline: 2px solid transparent;
	outline-offset: -2px;
}

.bx--tile_run {
	display: block;
	min-width: 8rem;
	min-height: 4rem;
	background-color: #f4f4f4;
	position: relative;
	border-top: 4px solid #696969;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px;
	padding: 1rem;
	outline: 2px solid transparent;
	outline-offset: -2px;
}

.btnAlign {
	margin-top: 25px;
}

.btnBlueGreen {
	background: white;	
}

.svgRed{
    fill: #ff0000;
}

a.button {
	display: block;
	position: relative;
	float: left;
	width: 195px;
	padding: 16px;
	margin: 9px -11px -15px -11px;

	font-weight: 100;
	text-align: center;
	line-height: 50px;
	color: black;
	border-radius: 5px;
	transition: all 0.2s;
}

a,
a:visited {
	text-decoration: none;
	//   color: #00AE68;
}

.bx--accordion__title {
	font-size: 21px !important;
	font-weight: 400;
	line-height: 1.9rem !important;
	letter-spacing: 0.16px;
	margin: 0 0 0 1rem;
	width: 100%;
	text-align: left;
	z-index: 0;
}

.border-div {
	border-left: 5px solid #4162fd;
}

.svg{
align-items: center;
	fill: chartreuse;
}

.bx--btn--ghost{
	background: white;
	border-radius: 5px;
	width: 138px;
	height: 31px;
	padding: 17px;
	position: relative;
    bottom: -14px;
}
.editicon{
	margin-top: 28px; margin-left: 2px;
	@include aboveWidth(1440px){
       
		 margin-left: 2px;
   
}
}

@media screen and (max-width: 1024px) {
  
	.editicon{
margin-left: 2px;
    }
    
  }


  .backicon{
	width: 22px;
	height: 22px;
	}