.para{
    margin-top: 40px;
}
.heading{
    margin-top: 10px;
margin-bottom: 10px;
}

a.bx--tabs__nav-link {
    border-bottom: 3px solid #e0e0e0;
    padding: 0.5rem 1rem;
    width: 6rem !important;
    margin: 0;
    line-height: inherit;
}
.bx--tabs__nav--hidden {
    display: flex;
    transition: inherit;
    overflow: visible;
    width: 6rem !important;
    max-height: none;
}

tabs{
    width: 6rem;
}

.gridhead{
    font-size: 13px;
}
.custom-class-example{
    font-size: 10px;
}

.btn{
 margin: auto;
 display: flex;
 margin-right: 0px;
}
.date{
    font-size: 10px;
}

