<ul ibmList>
    <li>
        {{challengeDetails?.description}}
    </li>
</ul>
<br/><br/>
<p style="font-size: 18px;">Data visuals</p>
<br/><br/>
<!-- <img style="margin-left: -10px;" src="assets/datavisuals.png"> -->
<img style="margin-left: -10px; height: 125px; width: 300px" src='http://localhost:3000/{{challengeDetails?.phases[0].dataVisualFile}}'>

<br/>
<br/>
<br/>
<p *ngFor='let data of challengeDetails?.phases[0]?.sampleDataFile; index as i' >Download Dataset {{i+1}}
	<svg icon ibmIconDownload16 (click)="downloadFile(data[i])"></svg>
</p>

<br/>
<br/>
<ibm-accordion >
    <div *ngFor="let phase of challengeDetails?.phases; index as i">
        <ibm-accordion-item title="Phase {{i}}" (selected)="selected($event)">{{ phase?.description }}</ibm-accordion-item>
    </div>
</ibm-accordion>


<!-- bc8af0906fb566c23cac8ebfe6480d5c.png' -->