.imgdataTab{
    margin-left: 0px; height: 125px; width: 300px
}
.datavisualhead{
    font-size: 18px;font-weight: 600;
}

.svgdownload{
    cursor: pointer;
}

.SVG{
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.dataspan{
    margin-left: 30px; margin-top: 5px;font-size:13px
}