<p>illustrative sample data</p>
<br/>
<p>more than 6000 historical footprint at high resolution</p>
<br/>
<p>Data set include the following feature </p>
<br/>
<ul ibmList>
    <li ibmListItem>Nunc convallis vel justo ut pellentesque.</li>
    <li ibmListItem>Nullam suscipit magna ac vestibulum sodales</li>
    <li ibmListItem>Nullam et urna id sapien mattis dignissim.</li>
    <li ibmListItem>Nunc convallis vel justo ut pellentesque.</li>
    <li ibmListItem>Nullam suscipit magna ac vestibulum sodales</li>
</ul>
<br/><br/>

<ibm-accordion >
    <div *ngFor="let phase of challengeDetails.phases; index as i">
        <ibm-accordion-item title="Phase {{i}}" (selected)="selected($event)">{{ phase?.description }}</ibm-accordion-item>
    </div>
</ibm-accordion>
