<p>illustrative sample data</p>
<br/>
<p>more than 6000 historical footprint at high resolution</p>
<br/>
<p>Data set include the following feature </p>
<br/>
<ul ibmList>
    <li ibmListItem>Nunc convallis vel justo ut pellentesque.</li>
    <li ibmListItem>Nullam suscipit magna ac vestibulum sodales</li>
    <li ibmListItem>Nullam et urna id sapien mattis dignissim.</li>
    <li ibmListItem>Nunc convallis vel justo ut pellentesque.</li>
    <li ibmListItem>Nullam suscipit magna ac vestibulum sodales</li>
</ul>
<br/><br/>
<ibm-accordion >
    <ibm-accordion-item title="Phase 1 - Training & Test Data" (selected)="selected($event)">Lorem ipsum dolor sit amet, \
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore \
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation \
    ullamco laboris nisi ut aliquip ex ea commodo consequat.</ibm-accordion-item>
    <ibm-accordion-item title="Phase 1 - Training & Test Data" (selected)="selected($event)">Lorem ipsum dolor sit amet, \
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore \
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation \
    ullamco laboris nisi ut aliquip ex ea commodo consequat.</ibm-accordion-item>
   
    <ibm-accordion-item title="Phase 1 - Training & Test Data" (selected)="selected($event)">Lorem ipsum dolor sit amet, \
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore \
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation \
    ullamco laboris nisi ut aliquip ex ea commodo consequat.</ibm-accordion-item>
</ibm-accordion>
