$feature-flags: (
	grid-columns-16: true,
);

// To change the theme uncomment the below import and which ever carbon theme you want to use
// @import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
// $carbon--theme: $carbon--theme--g100;
// $carbon--theme: $carbon--theme--g90;
// $carbon--theme: $carbon--theme--g10;

@import "~carbon-components/scss/globals/scss/styles";

@import './assets/scss/carbon-overrides.scss';

@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Sans:400,600&display=swap";

.bx--tabs__nav-item{
	max-width: 114px;
}


svg.chart-grid-backdrop{
	fill: #f4f4f4;
}

path.line{
	fill: #f4f4f4;
} 
