$feature-flags: (
	grid-columns-16: true,
);

// To change the theme uncomment the below import and which ever carbon theme you want to use
// @import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
// $carbon--theme: $carbon--theme--g100;
// $carbon--theme: $carbon--theme--g90;
// $carbon--theme: $carbon--theme--g10;

@import "~carbon-components/scss/globals/scss/styles";

@import './assets/scss/carbon-overrides.scss';

@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Sans:400,600&display=swap";

.bx--tabs__nav-item{
	max-width: 114px;
}

// text.pie-label{
// 	display: none;
// }
// text.dounet-title{
// 	display: none;
// }
// text.pie-label{
// 	display: none;
// }

svg.chart-grid-backdrop{
	fill: #f4f4f4;
}

path.line{
	fill: #f4f4f4;
} 

text.pie-label{
	display: none;
}
text.donut-title{
	font-size: 15px !important;
}
text.pie-label{
	display: none;
}
text.donut-figure{
	display: none;
}

.bx--file-container {
    display: none;
}

text.title{
font-weight: 600;
}

p.bx--accordion__title {
    font-size: 1.175rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
    margin: 0 0 0 1rem;
    width: 100%;
    color: black;
    text-align: left;
    z-index: 0;
}

.bx--content-switcher {
    display: flex;
    justify-content: end !important;
    width: 38%;
    height: 2.5rem;
   
}


.bx--table-toolbar {
    background: #f4f4f4;
    display: flex;
    height: 3rem;
    overflow: inherit;
    position: relative;
    width: 100%;
}

.datapoint-tooltip {
	display: none;
}

ibm-tab > div{
	border: none;
	outline: none;
	}

	.bx--cc--chart-svg{
		padding: 26px;
	}

	.slice fill-2-1-1{
		width: 128px;
		height: 128px;
	}
	
	.custom-class-example{
		font-size: 10px;
		padding-bottom : 0px !important;
	}

    .bx--content-switcher {
        display: flex;
        width: 100%;
        height: 2.5rem;
        justify-content: flex-start;
    }

	@media screen and (max-width: 1440px)  {
		.bx--tabs__nav-item{
			max-width: 124px;
		}
	  }



@mixin aboveWidth($point) {
    // No media query for `xs` since this is the default
    
    @if $point == sm {
    @media (min-width: 640px) {
    @content;
    }
    } @else if $point == md {
    @media (min-width: 768px) {
    @content;
    }
    } @else if $point == lg {
    @media (min-width: 1024px) {
    @content;
    }
    } @else if $point == xl {
    @media (min-width: 1280px) {
    @content;
    }
    } @else {
    @media (min-width: $point) {
    @content;
    }
    }
    }
    
    @mixin belowWidth($point) {
    // No media query for `xs` since this is the default
    
    @if $point == sm {
    @media (max-width: 640px) {
    @content;
    }
    } @else if $point == md {
    @media (max-width: 768px) {
    @content;
    }
    } @else if $point == lg {
    @media (max-width: 1024px) {
    @content;
    }
    } @else if $point == xl {
    @media (max-width: 1280px) {
    @content;
    }
    } @else {
    @media (max-width: $point) {
    @content;
    }
    }
    }