$feature-flags: (
	grid-columns-16: true,
);

// To change the theme uncomment the below import and which ever carbon theme you want to use
// @import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
// $carbon--theme: $carbon--theme--g100;
// $carbon--theme: $carbon--theme--g90;
// $carbon--theme: $carbon--theme--g10;

@import "~carbon-components/scss/globals/scss/styles";

@import './assets/scss/carbon-overrides.scss';

@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Sans:400,600&display=swap";

.bx--tabs__nav-item{
	max-width: 114px;
}

// text.pie-label{
// 	display: none;
// }
// text.dounet-title{
// 	display: none;
// }
// text.pie-label{
// 	display: none;
// }

svg.chart-grid-backdrop{
	fill: #f4f4f4;
}

path.line{
	fill: #f4f4f4;
} 

text.pie-label{
	display: none;
}
text.donut-title{
	font-size: 28px;
}
text.pie-label{
	display: none;
}
text.donut-figure{
	display: none;
}


.bx--table-toolbar {
    background: #f4f4f4;
    display: flex;
    height: 3rem;
    overflow: inherit;
    position: relative;
    width: 100%;
}

.datapoint-tooltip {
	display: none;
}

ibm-tab > div{
	border: none;
	outline: none;
	}

	.bx--cc--chart-svg{
		padding: 26px;
	}

	.slice fill-2-1-1{
		width: 128px;
		height: 128px;
	}
	
	.custom-class-example{
		font-size: 10px;
		padding-bottom : 0px !important;
	}