.line-padding{
    padding-top: 15px;
    }
    .bx--link{
    font-size: 12px ;
    }
    
    ::ng-deep .bx--progress--vertical .bx--progress-step {
    min-height: 3rem;
    }

   
   

    .link{
        color: blue;
        font-size: 16px;

    }

   

   

    .headline{
        font-size: 12px;
    }

    .to{
        margin-top: 15px;
        margin-right: 5px;
    }

   .step_5{
       font-size: 13px;
   }
   .back_btn{
       background-color: #383838 !important;
       border: none;
   }