.line-padding{
    padding-top: 15px;
    }
    .bx--link{
    font-size: 12px ;
    }
    
    ::ng-deep .bx--progress--vertical .bx--progress-step {
    min-height: 3rem;
    }

   .navigation {
       cursor: pointer;
       color: #0f62fe;
   }
   
   .bx--toast-notification--failure {
    border-left: 3px solid #ff0000;
    background: #393939;
    margin-left: 1000px;
    margin-top: 100px;
    position: absolute;
    top: -36px;
    left: 32px;
    }

    .link{
        color: blue;
        font-size: 16px;

    }

    .headline{
        font-size: 12px;
    }

    .to{
        margin-top: 15px;
        margin-right: 5px;
    }

   .step_5{
       font-size: 13px;
   }
   .back_btn{
       background-color: #383838 !important;
       border: none;
   }