<div class="bx--grid">
	<div class="bx--row line-padding">
		<div class="bx--col-md-1" style="padding-left: 132px;">
			<svg icon ibmIconArrowLeft16></svg>
		</div>
		<div class="bx--col-md-7">
			<ibm-breadcrumb [noTrailingSlash]="noTrailingSlash">
				<ibm-breadcrumb-item href="#1" class="navigation">
					Activity Dashboard
				</ibm-breadcrumb-item>
			</ibm-breadcrumb>
		</div>
	</div>

	<div class="bx--row line-padding">
		<div class="bx--col-md-1"></div>
		<div class="bx--col-md-7">
			<h1>Create New challange</h1>
		</div>
	</div>
	<br />
	<div ibmGrid [condensed]="gridCondensed">
		<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
		<!-- 	<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }"></div>
			<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 1, sm: 12 }">
				<ibm-progress-indicator orientation="vertical" [steps]="steps" [current]="current"
					(stepSelected)="stepSelected($event)">
				</ibm-progress-indicator>
			</div>
			<div ibmCol class="custom-class-example1" [columnNumbers]="{ md: 3, sm: 12 }">
				<h3>Challange Overview</h3>

				<br />
				<ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
					Challange Title
					<textarea style="width: 90%" ibmTextArea [placeholder]="placeholder" [invalid]="invalid"
						[disabled]="disabled" [theme]="theme" [rows]="1" [cols]="cols" aria-label="textarea"></textarea>
				</ibm-label>
				<br />
				<ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
					Challange Discription
					<textarea style="width: 90%" ibmTextArea [placeholder]="placeholder" [invalid]="invalid"
						[disabled]="disabled" [theme]="theme" [rows]="5" [cols]="cols" aria-label="textarea"></textarea>
				</ibm-label>
				<br />
				<ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
					Challange Objective
					<textarea style="width: 90%" ibmTextArea [placeholder]="placeholder" [invalid]="invalid"
						[disabled]="disabled" [theme]="theme" [rows]="3" [cols]="cols" aria-label="textarea"></textarea>
				</ibm-label>

				<br />
				<ibm-label [helperText]="helperText" [invalid]="invalid" [invalidText]="invalidText">
					Challange End Date
					<textarea style="width: 10%" ibmTextArea [placeholder]="placeholder" [invalid]="invalid"
						[disabled]="disabled" [theme]="theme" [rows]="1" [cols]="1" aria-label="textarea"></textarea>
				</ibm-label>
			</div>

			<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 3, sm: 12 }" *ngIf="current == 1">
				<h3>Company info</h3>
				<br />
				<h5>Direct line Insaurance</h5>

				<p class="praa">
					since we launched in 1985, our aim at Dircect line's has
					alwasy been to put the customer first.
				</p>
				<p class="praa">
					Lorem Ipsum is simply dummy text of the printing and
					typesetting industry. Lorem Ipsum has been the industry's
					standard dummy text ever since the 1500s
				</p>
				<br />
				<p class="toggle_head">Withold Company Name</p>
				<ibm-toggle [label]="label" [onText]="Off" [offText]="Off" [disabled]="disabled" [checked]="checked"
					[size]="size">
				</ibm-toggle>
				<br />
				<p class="toggle_head">Withold Company Discription</p>
				<ibm-toggle [label]="label" [onText]="Off" [offText]="Off" [disabled]="disabled" [checked]="checked"
					[size]="size">
				</ibm-toggle>

				<button class="btn" [ibmButton]="ibmButton" [size]="size" click="nextStep()">
					Next
				</button>
			</div>
		</div> -->

		<!-- step one end -->

		<!-- step two start -->

		<!-- <app-challange-second-step>
			</app-challange-second-step> -->

		<!-- step two end -->

		<!-- third step starts here -->
		<!-- <app-challane-third-step>						
					</app-challane-third-step> -->
		<!-- third step end -->


		<!-- fourth step start -->

		<!-- <div ibmCol class="custom-class-example1" [columnNumbers]="{ md: 3, sm: 12 }">
				<h3>Confirmation</h3>
				<br />
				<p class="step_5">your challenge will be uploaded for innovators...</p>
				<br />
				<p class="step_5">In a short moment you'll be able to see which innovator have accepted your challenges
					and keep track of their progress along the phases.</p>
				<br />
				<p class="step_5">In a short moment you'll be able to see which innovator have accepted your challenges
					and keep track of their progress along the phases.which innovator have accepted your challenges and
					keep track of their progress along the phases.</p>
			</div> -->

		<!-- fourth step end -->

		<div ibmCol class="custom-class-example1" [columnNumbers]="{ md: 3, sm: 12 }">

			<div ibmGrid [condensed]="gridCondensed">
				<div ibmRow class="row_button" [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
					[condensed]="rowCondensed">
					<div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">

						<button class="back_btn" [ibmButton]="ibmButton" [size]="size" disabled="true">back</button>
					</div>
					<div ibmCol class="custom-class-example" [columnNumbers]="{'md': 1, 'sm': 12}">


					</div>
					<div ibmCol class="custom-class-example" [columnNumbers]="{'md': 2, 'sm': 12}">
						<button [ibmButton]="ibmButton" [size]="size"> Submit&nbsp;</button>
					</div>

				</div>
			</div>

		</div>

	</div>
</div>
</div>