<ibm-tile class="tile">
  <div>
    <div style="display: flex;">

      <p>
        {{ challange?.title }}
      </p>

      <ibm-tag class="tags" type="cool-gray">{{challange?.categoryType}}</ibm-tag>
    </div>
    <br />
    <div ibmGrid [condensed]="gridCondensed">
      <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed"
        style="margin-left: 1px;">
        <div ibmCol class="custom-class-example" style="margin-left: -31px;" [columnNumbers]="{ md: 5, sm: 12 }">
          {{ challange?.description }}
        </div>

        <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 3, sm: 12 }" style="margin-left: 20px;">
          <div class="sideicon">
            <svg icon ibmIconEdtLoop16></svg>
            &nbsp;&nbsp;
            <p class="numsize">{{challange?.submissionsCount}}</p>
          </div>
          <div class="sideicon">
            <svg icon ibmIconUserMultiple16></svg>
            &nbsp;&nbsp;
            <p class="numsize">{{challange?.acceptedUsersCount}}</p>
          </div>
          <div class="sideicon">
            <svg icon ibmIconForum16></svg>
            &nbsp;&nbsp;
            <p class="numsize">{{challange?.discussions || '0'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed">
    <div ibmCol class="custom-class-example" [columnNumbers]="{ md: 6, sm: 12 }">
      <p class="date" style="display: flex; align-items: center;">
        <svg icon ibmIconTime20></svg>&nbsp;
        <span>{{ getExpiryDate(challange?.expiryDate) }}</span>
      </p>
    </div>
    <div ibmCol class="custom-class-example" style="margin-bottom: -31px;" [columnNumbers]="{ md: 1, sm: 12 }">
      <button class="btn" [ibmButton]="primary" [size]="'sm'" (click)="viewChalange(challange?._id)"
        style="position: absolute;bottom: 0px;right: 0px;width: 90px;">
        View
      </button>
    </div>
  </div>
</ibm-tile>