<ibm-tile class="tile">
	<div style="display: flex">

		<h5>
			 {{ challange?.title}} 
		</h5>

		<ibm-tag class="tags" type="cool-gray">Efficiency</ibm-tag>
	</div>
	<br />

	<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed"
		style="margin-left: 1px;">
		<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 5, sm: 12 }">
			{{challange?.description}}
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<div ibmCol class="custom-class-example" style="margin-right: 0px;display: flex;margin: auto;"
			[columnNumbers]="{ md: 2, sm: 12 }">

			<!-- <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
				[condensed]="rowCondensed"> -->
				<div ibmCol class="custom-class-example" style="margin-left: 12px;display: flex;"
					[columnNumbers]="{ md: 8, sm: 12 }">
					<svg icon ibmIconTime16></svg>&nbsp;&nbsp; <p style="margin-top: -4px;">5</p>
				</div>
			<!-- </div> -->
		
		</div>
		<div ibmCol class="custom-class-example" style="margin-right: 0px;display: flex;margin: auto;"
			[columnNumbers]="{ md: 2, sm: 12 }">

			<!-- <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
				[condensed]="rowCondensed"> -->
				<div ibmCol class="custom-class-example" style="margin-left: 214px;margin-top: -44px;display: flex;"
					[columnNumbers]="{ md: 8, sm: 12 }">
					<svg icon ibmIconTime16></svg>&nbsp;&nbsp; <p style="margin-top: -4px;">5</p>
				</div>
			<!-- </div> -->
		
		</div>
		<div ibmCol class="custom-class-example" style="margin-right: 0px;display: flex;margin: auto;"
			[columnNumbers]="{ md: 2, sm: 12 }">

			<!-- <div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter"
				[condensed]="rowCondensed"> -->
				<div ibmCol class="custom-class-example" style="margin-left: 44px;display: flex;"
					[columnNumbers]="{ md: 8, sm: 12 }">
					
					<svg icon ibmIconTime16></svg>&nbsp;&nbsp; <p style="margin-top: -4px;">5</p>
				</div>
			<!-- </div> -->
		
		</div>

	</div>
	<br /><br /><br />
	<div ibmRow [gutter]="gutter" [leftGutter]="leftGutter" [rightGutter]="rightGutter" [condensed]="rowCondensed"
		style="margin-right:40px;">
		<div ibmCol class="custom-class-example" [columnNumbers]="{ md: 6, sm: 12 }">
			<p class="date" style="padding: 10px;"> <svg icon ibmIconTime16 ></svg> <span> {{ getDate(challange?.createdAt)}} </span></p>
		</div>
		<div ibmCol class="custom-class-example" style="margin-bottom: -31px;" [columnNumbers]="{ md: 1, sm: 12 }">
			<button class="btn" [ibmButton]="primary" [size]="'sm'">
				View
			</button>
		</div>
	</div>
</ibm-tile>